[2014-12-01 10:05] stevieflow opened #89 "Changing Org ID in Settings does not affect Organisation file"
This file: http://aidstream.org/files/xml/apt-org.xml - the Org ID has an extra whitespace.  In the account settings, I've edited the Org ID (twice), which has in turn edited the activity files.  This does not apply to the Org file.  There is also no way to edit the Org ID in this file.

[2015-02-05 10:27] iatisupport commented on #57
Hi @VincentVW et al did the above fix the problem and can this issue be closed now?
Thanks in advance

[2015-02-05 10:29] iatisupport commented on #41
Hi @rolfkleef I think this issue has now been superceded by https://github.com/younginnovations/aidstream/issues/76?

Are you happy if this issue is closed now?

[2015-02-05 10:31] iatisupport commented on #59
Yes would be good to point users to these espeically as we have had good feedback about them and they are definitely being used. Could something be added to the main home page at www.aidstream.org?

[2015-02-06 09:05] anjesh commented on #98
True. This is more of UI issue and the current version of Aidstream leverages the IATI XML structure to auto-generate form and hence it will require lots of low-level changes to AidStream to achieve this. However this issue will be taken care of in the next iteration of AidStream, which will also see drastic change in its UI.

[2015-02-06 15:04] rolfkleef commented on #41
ah yes, this is a duplicate!

[2015-02-13 13:20] iatisupport commented on #88
There is also a problem with the copy with the Sector and Budget fields. Sector disappeared from the source project and the only the value field of the budget element was copied to the new project and all the budget details disappeared from the source project

[2015-03-24 03:55] mesaugat commented on #99
Issue resolved with the latest update.

[2015-03-24 04:34] mesaugat commented on #92
This is the same issue as #100 and has been resolved now.

[2015-04-10 14:20] danmackenzie commented on #102
Issue closed and raised via ZenDesk to DI

[2015-04-30 08:25] VincentVW commented on #57
Hi @iatisupport , Anjesh his comment sounds like the fix (it indeed was using 1.01 of the Registry API) so I'll close it. We never went through to fix this and get Aidstream working on our machine.

[2015-05-15 15:05] danmackenzie opened #104 "User not allowed to access Settings"
Hi

One of our users is unable to access the Settings button on an organisation profile on AidStream - it does not appear on the webpage when she is logged in. However, she has all of her 'User Permissions' boxes ticked, i.e. Add Edit Delete Publish .

User: GOAL_RButterworth

Org: GOAL_admin

Ruth Butterworth is now the main person responsible for publishing IATI data.

Let me know if you need an

[2015-05-16 12:19] #104 closed

[2015-05-20 09:43] anjesh commented on #101
Hi Daniel,
That was apparently a bug, which has been resolved sometime back. If you go to those instances of transactions with blank value and change to 0, those will get saved. You will need to manually publish those activities to reflect in your xml files. Please let us know if you still have issues. I will close this issue for now.
Best
Anjesh

[2015-05-20 10:04] anjesh commented on #103
Fixed the url validation issue

[2015-06-25 18:03] rolfkleef commented on #88
I'd like to raise the priority of this please. We've had this issue happen to users again: sector information lost, budget information lost...

[2015-07-16 08:47] anjesh commented on #88
Fixed and updated in the live.

[2015-07-23 05:18] anjesh commented on #107
This won't happen in V201as there are mandatory fields.

[2015-07-23 08:50] iatisupport commented on #107
That's good although the activity in the live system did have all mandatory fields present. Will the validation still stop it being published even if the activity is complete?

[2015-09-03 13:29] rory09 commented on #111
## Update

Hello again - so I've now purged deleted files from the registry, but this behaviour has gotten stranger. We're now in a situation where is hosting and publishing files to the registry that don't appear anywhere on MCS_admin's dashboard, and which I can't find anywhere through the Aistream interface.

Under `List Activities` we see:

![image](https://cloud.githubusercontent.com/assets/7

[2015-09-04 04:58] anjesh commented on #111
There seems to be some problem when we get API response from Registry, and hence the published number in the dashboard is not correct. We will fix them manually for now - 14 to 7.

The problem in the registry seems to appear due to change in organisation-short-name from MCE to MCS. AidStream doesn't handle the change of such name and reflecting that change in Registry - meaning it doesn't delete t

[2015-09-04 08:31] rory09 commented on #111
Hi Anjesh - thanks for getting back to me on this. So to solve this should:

1. I go into the registry and manually delete all of the files that have been deleted on Aidstream.

or

2. You or someone with access to the data in Aidstream manually deletes the old files on aidstream and de-registers them with the registry, as would usually happen when deleting a file through AidStream.

or neither, o

[2015-09-10 03:35] anjesh commented on #111
Hi Rory, i missed your comment earlier.
You manually delete the files from registry that should not be there. We will fix the number to 7 in AidStream dashboard for MCE.

But before it would be wise to discuss this with Registry/Ckan developer. That is some strange thing i have never seen.
![image](https://cloud.githubusercontent.com/assets/120488/9779606/1ed6ebfc-579d-11e5-931e-13575286faab.png)

[2015-09-25 14:46] SJ-bond commented on #113
Hello, I resolved this - the second 'add more' button is the one with the detail (org type etc) rather than the first. Once we'd added in the funding org, we were able to publish. The reason for the two add more buttons really isn't clear in AidStream - perhaps showing this form in a kind of folder structure with indents would be clearer?

[2015-09-29 10:38] rolfkleef commented on #112
As suggested by @SJ-bond in https://github.com/younginnovations/aidstream-v201-migration/issues/22 for another element: perhaps it makes sense to indent the narrative block in many of such forms (css in style-wep.css):

![2015-09-29_01](https://cloud.githubusercontent.com/assets/223935/10161815/f024ef34-66a6-11e5-8f99-0d19ca40653a.png)

(And relabeling may add clarity)

[2015-10-05 08:06] anjesh commented on #112
We have slightly indented the inner forms to separate from the container wherever they are present. You will need to do hard-refresh to see the change.

![image](https://cloud.githubusercontent.com/assets/120488/10275562/03becf4a-6b68-11e5-8ef2-b6f034fec67b.png)

[2015-10-05 08:10] anjesh commented on #114
It's slightly tricky to change the label in the existing aidstream forms, as all the labels are generated automatically, following the IATI standard. Any change in the labels means it breaks the flow.

We have slightly indented the boxed now as you may see below

![image](https://cloud.githubusercontent.com/assets/120488/10275624/91a833b4-6b68-11e5-9273-bca90e9144e6.png)

As for the help text, the

[2015-10-05 08:15] anjesh commented on #116
Correct. We haven't included those newly added fields in the upload for now.
@iatisupport What do you say? Shall we add them?

[2015-10-05 08:51] iatisupport commented on #116
I guess for completeness we should add in the new fields to the upload template. However, if no users are currently using them then it might be better to use your resources to implement this in the 'new' version of Aidstream?

@danmackenzie & @rolfkleef - do you know if any of the users you are working with require this fix now?

[2015-10-05 09:08] danmackenzie commented on #116
I don’t work with many publishers who use AidStream, and within that group I only know of one organisation that use the CSV upload - BRAC UK.

At the moment they will not be planning to use the extra fields. This is limited experience, but I wouldn’t see this as a priority for now.

Daniel Mackenzie

[2015-10-06 05:35] anjesh commented on #113
The boxes are slightly indented now, so it might help to some extent for now.

![image](https://cloud.githubusercontent.com/assets/120488/10300783/ce942852-6c1a-11e5-87c8-acbd92b6ded6.png)

[2015-10-06 05:41] anjesh commented on #117
The problem is for the new activities these problems shouldn't occur. These errors are from the previous IATI version data for e.g. format was not mandatory in v1.03 but is now required, so the legacy dpcument-link data (without format attribute) gets into the xml. It would definitely be good to catch them at AidStream end itself, validate it against the schema before publishing the file. Lets dis

[2015-10-06 10:03] rolfkleef commented on #116
I don't know of anyone here planning to use the newly added fields soon, so not urgent for us.

[2015-10-08 09:56] SJ-bond commented on #117
Three different issues found with 3 different organisations:

Emmanuel: missing category code in document-link element of Organisation data file (fixed)
Feed the Minds: AidStream had generated an empty xml file (fixed by republishing)
International Medical Corps: missing name element in Organisation data file (fixed)

[2015-10-08 09:59] anjesh commented on #109
Perhaps this could go to the existing one as well.

[2015-10-08 10:05] anjesh commented on #9
Duplicate of https://github.com/younginnovations/aidstream/issues/48

[2015-10-14 09:31] anjesh commented on #96
Need to think/discuss about this for the new one as well. Need to have use case for this.

[2015-10-14 09:31] anjesh commented on #106
@iatisupport to provide some guidance on how to handle the file deletion from registry when the publishing type is changed from segmented to unsegmented and vv.

[2015-10-14 09:34] anjesh commented on #89
We have fixed this in V201.

[2015-10-14 13:03] iatisupport commented on #96
@stevieflow we discussed this one and weren't sure if the business case was currently strong enough to include and in fact might not be a good thing for many other organisations. Do you have any additional information that you can add with regard to why the organisation you were working with wanted to tie the access down? Thanks

[2015-10-14 13:06] iatisupport commented on #89
@stevieflow could you test this one just to check that this has been fixed correctly. Thanks

[2015-10-18 19:51] stevieflow commented on #96
Hi @iatisupport @anjesh sorry - I cant quite recall who / how this was suggested!

Maybe just put this on the backlog, rather than close it?

[2015-10-26 09:30] iatisupport commented on #96
Thanks @stevieflow  - @anjesh do you want to create a backlog label or milestones to assign issues like this to? Thanks

[2015-11-05 16:34] anjesh commented on #115
https enabled in aidstream.org

[2015-11-05 16:40] anjesh commented on #119
I don't think we have included the provider-activity-id in the simple csv template and for simplicity, but currency could have been part of that - i don't remember why that was not being included. Template has not been changed since it's introduced.

[2015-11-05 16:44] anjesh commented on #110
@Jaspermid can you see if there's still problem with this one? We have upgraded to IATI 2.01 and not sure if this still is pending.

[2015-11-05 17:01] anjesh commented on #86
I checked and the duplicating the activity doesn't lose the results data now. Do verify.

[2015-11-05 17:12] anjesh commented on #49
Now contract type is codelist in IATI v201 upgrade

![image](https://cloud.githubusercontent.com/assets/120488/10975753/83ba4bb4-8410-11e5-83f4-849c1f2ef90f.png)

[2015-11-05 17:13] anjesh commented on #24
Not sure what is this about. Anything to discuss over this for the future upgrade?

[2015-11-05 17:19] anjesh commented on #70
I think this is resolved now. They can only change the reporting-org from settings only.

[2015-11-05 17:20] anjesh commented on #108
Duplicate of https://github.com/younginnovations/aidstream/issues/76
Closing this. Further discussion there.

[2015-11-05 17:22] anjesh commented on #76
The 3-digit sector vocab is now listed in the vocab, however it doesn't yet list the 3-digit sectors but shows the text box. Need to address this.

![image](https://cloud.githubusercontent.com/assets/120488/10976028/ec4fe4bc-8411-11e5-86a7-5dd093a5e8f4.png)

[2015-11-05 17:25] anjesh commented on #84
The location now only allows decimals though capital-spend takes string. Need to fix.

![image](https://cloud.githubusercontent.com/assets/120488/10976116/58e5e75c-8412-11e5-9b65-5c016ecb243f.png)

This file https://www.aidstream.org/files/xml/hfhgb-br.xml still has problem and needs to be edited and republished to fix the validation error.

[2015-11-05 18:37] siemvaessen commented on #115
Great!

[2015-11-06 08:28] stevieflow commented on #24
It was probably in relation to using something from https://github.com/IATI/IATI-Rulesets to enforce rules that are not in the schema - conditional logics, such as order of dates, for example

Worth a look - in terms of making data that makes sense, but maybe this issue isnt the forum for it...

[2015-11-06 10:00] anjesh commented on #59
@anjhero need to put the video somewhere in the homepage - thoughts please?

[2015-11-10 13:05] danmackenzie commented on #119
Ok cool. I’m wondering if it could/should be added to the simple template, as providing a provider-activity-id / receiver-activity-id is part of the DfID minimum requirements (where possible) and is key to getting organisation data to appear on DevTracker.

Thoughts?

Daniel Mackenzie

[2015-11-19 08:24] anjesh commented on #121
I can't access this ticket.

[2015-11-19 09:04] iatisupport commented on #121
No problem Anjesh I have now assigned the ticket to your Help Desk queue

[2015-11-19 09:17] FionaWaters commented on #121
Thanks Wendy – and for your help Anjesh.

Best wishes,

Fiona Waters
Effectiveness and Transparency Assistant
fwaters@bond.org.uk<mailto:fwaters@bond.org.uk>
Direct Line +44 (0)20 7520 1042

Connect with me on MyBond<http://my.bond.org.uk/>: http://my.bond.org.uk/users/fiona-waters

Bond · Regent’s Wharf · 8 All Saints Street · London · N1 9RL · United Kingdom
+44 (0)20 7837 8344 · bond@bond.org.u

[2015-11-20 03:51] anjesh commented on #122
This was due to the https and recaptcha is using http and couldn't load the image. The bug is fixed.

![image](https://cloud.githubusercontent.com/assets/120488/11291596/38a52f12-8f6a-11e5-9997-74b472e914bd.png)

[2015-11-23 21:36] rolfkleef commented on #128
Found one from my notes: the help text in Participating Organisation for Organisation Role does not match the IATI description:

*AidStream*: There are four organisation role codes: Funding (the organisation managing the funds); Extending (the government entity or agency within an institution financing the activity from its own budget); Implementing (the intermediary organisation between the exten

[2015-11-25 06:16] anjesh commented on #116
Currently the detailed CSV contains fields that have been deprecated. The followings are the existing CSV fields. Number of these fields (most text for the codelist) will be deprecated from the template and sector, country, region will be added.

![image](https://cloud.githubusercontent.com/assets/120488/11389771/cbc109e2-936b-11e5-9ffa-74cf0cc9a22c.png)

The new V2.01 CSV template to contain the

[2015-11-25 06:19] anjesh commented on #119
The following fields are to be included in the simple template (adding provider-activity-id, receiver-activity-id and currency)

Internal Reference
Incoming Fund
Expenditure
Disbursement
Commitment
Transaction Date
Transaction Currency *
Description
Provider Org Name
Provider Org Reference
Provider Activity Id *
Receiver Org Name
Receiver Org Reference
Receiver Activity Id *

[2015-11-26 05:08] anjesh commented on #59
We will put the following text in besides the video link or button.
"Watch videos on how to use Aidstream [button to youtube channel]"

@iatisupport does that sound ok to you?

[2015-11-26 05:45] kritika555 commented on #129
result ->
  ->title - one/must
      ->narrative-more
->Description-one/optional
   ->narrative -more
->Indicator-more(atleast one)
   -> title -one/must
  ->description-one/optional
  ->baseline - one/optional
  ->period-multiple/optional
        -> period-start -one/must
        ->period-end -one/must
        ->target-once/optional
        ->actual- once/optional

[2015-11-26 05:51] anjesh commented on #123
sector vocab codelist fixed.

[2015-11-26 05:55] anjesh commented on #76
3 digit sector codes are now listed and gets reflected in the XML as well.

![image](https://cloud.githubusercontent.com/assets/120488/11416072/5c694650-9432-11e5-98a3-89513341dd67.png)

Please verify and close the ticket.

[2015-11-26 05:56] anjesh commented on #84
Capital spend now takes only numeric.

![image](https://cloud.githubusercontent.com/assets/120488/11416099/93c64d3c-9432-11e5-9179-1b5ccf208afa.png)

[2015-11-26 05:57] anjesh commented on #116
The detail transaction upload template now accepts all the V201 field. Please verify.

[2015-11-26 05:58] anjesh commented on #119
Please verify, we added extra fields in the simple template as well.

[2015-11-26 05:58] kritika555 commented on #130
result ->
->title - one/must
->narrative-more
->Description-one/optional
->narrative -more
->Indicator-more(atleast one)
-> title -one/must
->description-one/optional
->baseline - one/optional
->period-multiple/optional
-> period-start -one/must
->period-end -one/must
->target-once/optional
->actual- once/optional

[2015-11-26 06:04] anjesh commented on #121
We have fixed this in aidstream.org. There seems to be a bug in the code, which behaves abnormally when the count reaches 30. Great catch :) Please verify.

[2015-11-26 12:49] rolfkleef commented on #76
Thanks!

In the meantime the Dutch MFA has made 5-digit sector codes a requirement for their grantees... :-/

[2015-11-26 13:05] rolfkleef commented on #70
Ok, two suggestions:

1) There currently is no indication on the Organisation Data > Reporting Organisation page that you need to go to "settings" to change this. (If no other options exist, perhaps that can be mentioned as the help text for each element.) I think this is important to help people find their way.

2) It is possible to "add more" narrative elements for the name but you can't edit an

[2015-12-10 05:55] anjesh commented on #59
Included the line on youtuve under "How to use" block.

![image](https://cloud.githubusercontent.com/assets/120488/11708025/ce71995e-9f32-11e5-8768-e0f3916e6d89.png)

[2015-12-10 06:05] anjesh commented on #125
Changed to text-input from text-area and also stripped the white chars if any during saving.

![image](https://cloud.githubusercontent.com/assets/120488/11708139/263725e0-9f34-11e5-914f-9e2e58e72e25.png)

[2015-12-10 06:06] anjesh commented on #126
Now the popup appears if there are unsaved changes in the form.

![image](https://cloud.githubusercontent.com/assets/120488/11708158/5a9aebdc-9f34-11e5-90b7-ad63b6b93a13.png)

[2015-12-10 06:07] anjesh commented on #127
Good point. Swapped the fields.

![image](https://cloud.githubusercontent.com/assets/120488/11708172/776612c8-9f34-11e5-8383-f7c36bab6e6c.png)

[2015-12-10 06:09] anjesh commented on #129
Titles are now shown

![image](https://cloud.githubusercontent.com/assets/120488/11708195/cf1f6096-9f34-11e5-9db2-04fa44ae8bb5.png)

[2015-12-10 06:12] anjesh commented on #66
There are few misses in the Results form. We have fixed those and used the default UI for results, Results has diffferent UI previously. Please reopen this issue if you find any issues with Results.

[2015-12-10 06:13] anjesh commented on #130
Results UI is now changed (consistent with other forms) and doesn't have those arrows now.

[2015-12-10 06:14] anjesh commented on #113
Please reopen if you find issues here.

[2015-12-10 06:15] anjesh commented on #112
Please reopen if there's anything with this issue.

[2015-12-10 06:15] anjesh commented on #86
Closing this. Please reopen if there's anything.

[2015-12-10 06:15] anjesh commented on #49
Please reopen if you find issues here.

[2015-12-10 06:17] anjesh commented on #89
Closing this. Please reopen if there's any issue with this.

[2015-12-10 06:17] #89 closed

[2015-12-10 06:19] anjesh commented on #107
Duplicate of https://github.com/younginnovations/aidstream/issues/118. Any discussion with empty files to continue there.

[2015-12-10 06:20] anjesh commented on #110
Closing. Please reopen if there's still any problem with this.

[2015-12-11 14:04] rolfkleef commented on #130
ok, that's one way to solve it ;-)

[2015-12-11 14:24] rolfkleef commented on #126
thanks!

[2015-12-18 05:19] anjesh commented on #133
Added the missing 13 sector codes.

[2015-12-18 10:57] anjesh opened #1 "Activities Import through CSV (simplified)"
In Aidstream, organisations should be able to upload their activities through csv. There will be template the organisations has to fill their activities and then upload in the system. There will be two types of template - simplified (which contains the basic and mandatory fields only) and complete (which contains all the fields). This issue covers only the simplifed csv import only.
### Fields

Th

[2015-12-18 11:52] anjesh opened #2 "Enable IATI Version 2.02 specific forms and process"
AidStream can support multiple versions at the same time. We need to develop the version 2.02 related element forms/ override existing elements forms based on the element changes. The changelog can be seen here http://iatistandard.org/201/upgrades/decimal-upgrade-to-2-02/2-02-changes/

When the new user registers, they will be enabled the latest version. For the existing users, they will be able t

[2015-12-18 12:08] anjesh opened #3 "IATI Version Upgrade process for V2.02"
The following process will be carried out while upgrading the existing V2.01 data to V2.02. When the organisation logs-in, they will see a message to upgrade their data to V2.02 (For those who are currently using V2.01). The mockup/design will also be developed.

Clicking on the message will take them to a page where they will see the changelog of IATI new version. Then they will click a button wh

[2015-12-21 08:13] anjesh opened #4 "Publishing of XML files to IATI Registry via API"
The activities go through the workflow (draft->completed->verified-> published). The XML files get generated when it get published. The user may set the configuration to publish to IATI Registry upon publishing or may choose to link to IATI Registry later.

In any case, the Registry API is called to create or update the datasets (activity xml file) in the registry.
The documentation of API is [her

[2015-12-21 08:17] anjesh commented on #1
The following process is to be followed during the Activities CSV upload process
1. Upload the CSV file as per template
2. Validate the file if the template is followed, if the appropriate codes are used, if the data is valid
3. If not valid, show the error message with the row number that has the error
4. If valid, check if the identifiers are already included in the organisation's database
5. In

[2015-12-21 08:57] anjesh opened #5 "Segmentation of activities files during publishing"
The following rules are to be followed while publishing XML files in the given order
- All XML files MUST be prefixed with the Registry Publisher Id and a hyphen
- If data is not segmented, file should be called publisher_id-activities
- If data is segmented activities should be put in the following files:
  - if a single recipient-country code is present: into publisher_id-country_code
  - if a s

[2015-12-21 09:39] anjesh opened #6 "Ability to unlink the published XML file from Registry."
This issue is related to https://github.com/younginnovations/aidstream-new/issues/5

When the XML files are published and linked to the registry, these files get listed in the IATI Registry. AidStream also lists the published XML files. However when the publishing type is changed from segmentation to unsegmented and vice versa, there will be duplication of activities as new XML files get created.

[2015-12-21 09:40] anjesh opened #7 "Option to delete unlinked XML files in AidStream"
See https://github.com/younginnovations/aidstream-new/issues/6 for the background.

When the XML files are not linked with Registry, the user should see the delete option in the files listing in AidStream. The user should be able to delete the file.

[2015-12-21 10:29] anjesh commented on #21
Will be taken care in new AidStream https://github.com/younginnovations/aidstream-new/issues/3

[2015-12-21 10:31] anjesh opened #8 "Uploads Results data via CSV import"

[2015-12-21 13:36] geshan commented on #1
The task seems quite big :confused: can it be broken in to smaller parts if possible.

[2015-12-22 11:50] iatisupport commented on #134
The same error is also reported for

Africa Educational Trust - http://www.aidstream.org/files/xml/aet-activities.xml

[2015-12-22 12:21] iatisupport commented on #136
Similar (but slightly different) document link validation errors also reported for
Camfed - http://www.aidstream.org/files/xml/camfed-gh.xml

[2015-12-22 13:55] iatisupport commented on #135
Also same error for

Hilfswerk Austria Zimbabwe - http://www.aidstream.org/files/xml/hwa-zm-activities.xml

[2015-12-22 15:07] rolfkleef commented on #142
I'll check in with Heifer, have been helping the person there to move forward with their publication a few weeks ago.

[2015-12-22 15:11] iatisupport commented on #144
Also results errors reported by validator for NGO Federation of Nepal - http://aidstream.org/files/xml/nfn-np.xml

Element 'indicator', attribute 'ascending': 'True' is not a valid value of the atomic type 'xs:boolean'.

[2015-12-22 15:13] iatisupport commented on #142
Thanks Rolf that will be really helpful although you might not want to change anything until @anjesh and his team have had a look as I think most of the errors being reported are related to validation? However, have a look and see what you think?

[2015-12-22 15:25] iatisupport commented on #146
Also same error in

http://www.aidstream.org/files/xml/palladium-org.xml

[2015-12-22 15:27] rolfkleef commented on #142
I saw that the activity identifier for most activities wasn't complete in the data, and had a look via AidStream.

One thing is a somewhat confusing message in their activities dashboard about the number of published activities (the actual data and the number in the Registry is 12 activities):
![2015-12-22_01](https://cloud.githubusercontent.com/assets/223935/11958485/658322ce-a8c8-11e5-8c10-c1c86

[2015-12-22 15:43] iatisupport commented on #118
Aidstream has produced another empty file - https://aidstream.org/files/xml/redeenkind-activities.xml for Stichting Red een Kind

Are you able to investigate here?

[2015-12-22 15:48] iatisupport commented on #137
Similar error reported for

Restless -
http://www.aidstream.org/public/files/xml/restless-in.xml
http://www.aidstream.org/files/xml/restless-ug.xml
http://www.aidstream.org/files/xml/restless-zm.xml
ttp://www.aidstream.org/files/xml/restless-zw.xml

[2015-12-22 15:49] iatisupport commented on #145
Similar error for

Rahnuma - http://aidstream.org/files/xml/rfpap-activities.xml (& other errors)

[2015-12-22 15:57] iatisupport commented on #141
Also Policy Marker validation error for Sympany+

http://www.aidstream.org/files/xml/simone_sympany-activities.xml
http://www.aidstream.org/files/xml/simone_sympany-activities.xml
Element 'policy-marker': The attribute 'code' is required but missing.

[2015-12-22 16:06] iatisupport commented on #118
Also Viva

https://aidstream.org/files/xml/viva-activities.xml

[2015-12-23 07:43] anjesh commented on #5
The titles of the datasets (when publishing to Registry in json) and the file names should follow the following conventions

If unsegemented
title: OrganisationName Activity File
filename: publisherid-activities.xml

If segmented
title: OrganisationName Activity File - CountryCode/RegionCode
filename: publisherid-countrycode/regioncode.xml

[2015-12-24 10:27] RajbanshiNeha commented on #4
While deleting the dataset from IATI Registry, the organization must have authority to delete the dataset.

[2015-12-30 12:23] anjesh commented on #135
These activities are legacy ones (from the previous IATI version where code is optional). This wouldn't happen in the newly created activities. We will be implementing the schema validation as a part of the workflow so that any existing activity which doesn't pass the schema will be up for correction. Currently these existing activities could easily leak into xml, when those problematic elements a

[2015-12-30 12:26] anjesh commented on #136
Again same problem as https://github.com/younginnovations/aidstream/issues/135#issuecomment-167989277

AidStream form catches this problem if the data is being entered and edited without format attribute.

[2015-12-30 12:27] anjesh commented on #137
Same as https://github.com/younginnovations/aidstream/issues/135#issuecomment-167989277

These activities will need to be republished once we implement https://github.com/younginnovations/aidstream/issues/148

[2015-12-30 12:28] anjesh commented on #138
Same as https://github.com/younginnovations/aidstream/issues/135#issuecomment-167989277

[2015-12-30 12:28] anjesh commented on #143
same as https://github.com/younginnovations/aidstream/issues/135#issuecomment-167989277

This wouldn't happen for new activities. Also would be taken for existing once https://github.com/younginnovations/aidstream/issues/148 is implemented.

[2015-12-30 12:29] anjesh commented on #141
Same as https://github.com/younginnovations/aidstream/issues/135#issuecomment-167989277

[2015-12-30 12:29] anjesh commented on #139
Same as https://github.com/younginnovations/aidstream/issues/135#issuecomment-167989277

[2015-12-30 12:30] anjesh commented on #144
Same as https://github.com/younginnovations/aidstream/issues/135#issuecomment-167989277

[2015-12-30 12:31] anjesh commented on #140
Same as https://github.com/younginnovations/aidstream/issues/135#issuecomment-167989277

[2015-12-30 12:33] anjesh commented on #142
Same as https://github.com/younginnovations/aidstream/issues/135#issuecomment-167989277

Since we don't have schema validation, these legacy activites problematic elements don't get captured. Will be taken care after this https://github.com/younginnovations/aidstream/issues/148

[2015-12-30 12:33] anjesh commented on #145
Same as https://github.com/younginnovations/aidstream/issues/148

[2015-12-30 12:34] anjesh commented on #146
Same as https://github.com/younginnovations/aidstream/issues/135#issuecomment-167989277

[2015-12-30 12:36] anjesh commented on #148
All these issues will get resolved after the implementation of schema validation in each activity. But the organisation has to do the re-publishing first to get schema errors.

#135 #136  #137 #138 #139 #140 #141 #142 #143 #144 #145 #146

[2015-12-30 12:38] anjesh commented on #134
Same as https://github.com/younginnovations/aidstream/issues/135#issuecomment-167989277

[2016-01-04 10:44] iatisupport commented on #147
Hi @rolfkleef just to let you know that @anjesh and I spoke before Christmas about the possibility of being to able to release the 'new' version of Aidstream at the end of March and for it to include V2.02 support as well. Obviously this is a very ambitious ask given the timescales but @anjesh was going to look into the possibility of being able to do this so I'll let @anjesh comment on the feasib

[2016-01-13 07:40] anjesh commented on #133
Done.

[2016-01-13 08:01] anjesh commented on #124
Fixed in transaction sector.

[2016-01-13 08:10] anjesh commented on #114
Closing this. We have fixed the UI by slight indentation.

[2016-02-04 10:32] SJ-bond opened #153 "Problems uploading transactions by CSV"
Hello, some organisations are having problems uploading transactions by CSV. See this email from BRAC for example:

I looked into the transactions myself and noticed those without transaction types. I double-checked our .CSV and they seem normal – data in proper columns. Still after uploading some data goes without transaction type and some other mixes up.

It is strange, because it is like half o

[2016-02-26 10:04] KasperBrandt commented on #147
Hi @iatisupport and @anjesh, is there any indication of the end of March for v2.02 is still a realistic goal?

[2016-03-03 14:04] wendyrogers opened #9 "Amend Text On Upgrade Screen To Show Actual Organisation Name"
After having clicked the 'upgrade availble' button the screen displayed showed the message 'This will upgrade all data to version 2.02 compatible data for organization 297.'

Please could the message be amended so that it uses the actual name of the organisation rather than 'organization 297'

[2016-03-03 14:09] wendyrogers opened #10 "Include a Cancel Button On All Update Forms"
As a general request it would be useful to users if as well as a save or update button all forms also had the option of a cancel button as well. Users might often encounter validation errors where they will need to go and find the missing information so would not always be able to save their details at that point.

[2016-03-03 14:23] wendyrogers opened #11 "New Humanitarian Elements & Sector Vocabs Missing From V2.02"
I have updated my organisation (demo) to V2.02. However I don't appear to have the option to use the new v2.02 humanitarian elements:
humanitarian scope - http://iatistandard.org/202/activity-standard/iati-activities/iati-activity/humanitarian-scope/
@humanitarian attribute on iati-activity - http://iatistandard.org/202/activity-standard/iati-activities/iati-activity/

Also sector vocabulary dropd

[2016-03-03 14:24] rolfkleef opened #12 "minor: "2.0.2" should be "2.02""
In the top-right corner there is an indicator telling me there is an "update available". The pop-up says to version "2.0.2", which should be "2.02"

![2016-03-03_01](https://cloud.githubusercontent.com/assets/223935/13497119/081a83f6-e154-11e5-90b2-547c43d566c7.png)

[2016-03-03 14:32] rolfkleef opened #13 "Activity overview: scope presented with wrong text"
When I look at an activity (http://newstage.aidstream.org/activity/1279) I see under "Activity Scope" that is says "General enquiries [1]". Editing the element shows the correct list "1 - Global". Looks like the wrong table is linked in the overview?
![2016-03-03_02](https://cloud.githubusercontent.com/assets/223935/13497326/0a500384-e155-11e5-818f-3972d67e4147.png)

[2016-03-03 14:37] iatisupport commented on #147
Hi @KasperBrandt really sorry for not getting back to you sooner but yes things are still on track for the release of a new version of Aidstream (with a new interface & other enhancements) and including this transaction type at the beginning of April. Comms will be going out to Aidstream users soon

[2016-03-03 14:43] rolfkleef opened #14 "List of "dummy participating organization"?"
When I look at the participating organisations, I see a list with all the same heading, I have to open each one.
![2016-03-03_03](https://cloud.githubusercontent.com/assets/223935/13497452/960dd95a-e155-11e5-9054-5a5ac676ba27.png)

Since I can only edit them all together, would it be possible to instead show a table so that I only have to open it once? A bit like:

| role | id | name |
| --- | ---

[2016-03-03 14:47] rolfkleef commented on #14
The same applies to Results: you need to click to open a few levels before you can see a title

[2016-03-03 14:51] wendyrogers opened #15 "Transaction Failing Validation For Non Mandatory Fields"
I amended a transaction for my demo organisation activity 'N545-FY2013' at v2.02 and changed the transaction type from Incoming Funds to Incoming Commitment and tried to save. The validation was requiring that I also provide the following fields: Disbursement channel code, sector & region code. However none of these fields are mandatory for a transaction?

[2016-03-03 14:51] rolfkleef opened #16 "How to go back to the overview of the activity from Results?"
Once I click "edit" for results, I go to a page with the results, and I have access to the other components of the activity, but I don't have a way to go back to the overview page.

(maybe consider in relation to #10)

[2016-03-03 15:01] rolfkleef opened #17 "Upload activities: use DAC-5 instead of DAC-3?"
The upload template currently has DAC3 as a required column. Would it be possible to add DAC5 as well? Or use that instead.

A related question: how to add multiple values (sectors, participating orgs, countries)

[2016-03-03 15:05] wendyrogers opened #18 "Change 'Who're' to 'Who Is Using' On Main Aidstream Web Page"
On the Aidstream landing page there is a link in the top RH corner of 'Who're' which I think should be 'Who Is Using'. Also if you click on this link and go to the who is using page the logo for ADD International is displayed multiple times

[2016-03-14 04:59] imlunek commented on #18
- `Who're using` has been changed to `Who's using`.
- On `Who's using` page, organizations are now listed dynamically.

[2016-03-14 04:59] #18 closed, assigned to nobody

[2016-03-14 05:19] sachit-singh commented on #11
To use the Humanitarian elements, one needs to check the Humanitarian Scope element on the [settings page](http://newstage.aidstream.org/settings) for the particular organization, which, by default is unchecked (on version 2.02).

The @humanitarian attribute has already added on iati-activity and is set to false by default on version upgrade.

Also, the missing sector vocabulary codes have also be

[2016-03-14 05:22] sachit-singh commented on #15
The validation for the non mandatory fields have been fixed.

[2016-03-14 05:29] #15 closed, assigned to nobody

[2016-03-14 05:29] #11 closed, assigned to nobody

[2016-03-15 05:31] imlunek commented on #155
This issue has been fixed.

[2016-03-15 06:20] sachit-singh commented on #9
This issue has already been fixed.

[2016-03-15 06:20] #9 closed, assigned to nobody

[2016-03-15 06:24] sachit-singh commented on #12
This issue has already been fixed.

[2016-03-15 06:24] #12 closed, assigned to nobody

[2016-03-15 09:38] sachit-singh commented on #10
This issues has already been fixed.

[2016-03-15 09:38] #10 closed, assigned to nobody

[2016-03-15 10:44] sachit-singh commented on #16
This issue has already been fixed.

[2016-03-15 10:44] #16 closed, assigned to nobody

[2016-03-18 05:34] sachit-singh commented on #17
To add multiple values, one is to separate the filled values using a semicolon ";".

DAC-5 has been used instead of DAC-3 as well.

[2016-03-18 05:34] #17 closed, assigned to nobody

[2016-03-18 05:35] sachit-singh commented on #14
The list of dummy texts have been replaced with relative texts.

[2016-03-18 05:35] #14 closed, assigned to nobody

[2016-03-18 05:37] sachit-singh commented on #13
This issue has already been fixed.

[2016-03-18 05:37] #13 closed, assigned to nobody

[2016-03-24 09:21] wendyrogers opened #19 "Post Ugrade To V2.02 Only Limited Activity Elements Available"
I have just upgraded my 'demo' account to v2.02 and ticked to include fields such as humanitarian and results in 'Settings' but when editing an activity i only appear to be able to edit either the data that already exists in my migrated activity or just the following as listed under 'Basic Activity Information' in the RH sidebar - title, description, status, date, contact info, scope. Where can I

[2016-03-24 09:50] sachit-singh commented on #19
There is a different scroll bar for the right hand side element menu. Please try hovering on the element menu and scrolling down. You would then be able to see other activity elements.

[2016-03-24 09:58] wendyrogers commented on #19
Brilliant. Thanks I can see it now but as you say I did have to hover to make it visible? is there any way that you can make it more obvious at all and perhaps not hidden until you hover over it?

[2016-03-24 10:06] wendyrogers opened #20 "Set Language Field For Narrative & Text Fields To Language Default"
For narrative and text fields there is generally also an associated language field. Could the initial associated language fields always be set to the specified default language value so that the user only needs to change this value for exceptions or additional instances of the element ?

[2016-03-24 10:16] sachit-singh commented on #19
Yes. There has been some design changes regard the interface and we have already started working on it. We will let you know as soon as the interface has been changed. Thank you.

[2016-03-24 10:53] wendyrogers opened #21 "URGENT: Able To (Re)Publish Activity With Missing Data Migrated From V2.01"
The publisher acord currently has a v2.01 file that fails validation (see http://dashboard.iatistandard.org/validation.html) because an activity 'GB-CHC-283302-GDRC08' has a document link that is missing the format attribute. The activity was still marked as 'Published' following migration to the new version of Aidstream. When I added another activity and re-published both activities in a single f

[2016-03-24 11:07] wendyrogers opened #22 "Unable To Tell Which Field Validation Error Relates To"
When editing a long list of document links for activity for Camfed GB-CHC-1029161-CSCF551 I was getting an error 'Please select an item from the list' but was completely unable to tell which of the many fields the error related to?

[2016-03-24 11:17] wendyrogers opened #23 "Difficult To Edit Document Link Information When Many Documents Already Added"
It is very difficult to edit document links when there are already multiple document links present on an activity as finding the document requiring amendment can be quite confusing. Would it not be easier to list the document links on the main activity screen and then allow the user to select the specific document to edit from the list (or add new)?

[2016-03-24 11:35] wendyrogers opened #24 "Able To Publish Organisation File Without Name Element"
I was able to publish an organsiation file for CRANE that did not contain the Name element - published file at https://www.aidstream.org/files/xml/ids-org.xml

The name element became mandatory at v2.01 see http://iatistandard.org/201/upgrades/integer-upgrade-to-2-01/migrating/#mandatory-fields-in-organisation-standard

[2016-03-24 11:35] RajbanshiNeha commented on #22
In every form, after each label if you see an '*' it means that those fields are mandatory. All mandatory fields need to be filled before saving. In this case, the language field is required.

[2016-03-24 12:13] wendyrogers opened #25 "XML File Generated Contains Invalid Version Number"
I republished a file for Farm Africa - http://newstage.aidstream.org/files/xml/fa-activities.xml. However the file has an invalid version number of version="V201" so could not be validated by the IATI validator

[2016-03-24 12:16] wendyrogers opened #26 "(Re)published File Missing Previously Published Data"
I marked an activity initially in 'Draft' for Farm Africa as 'verifed' 'competed' and then 'published'. However the published XML file that was created only contained the single activity and not all the other activities that were already marked as 'Published'

XML file generated - http://newstage.aidstream.org/files/xml/fa-activities.xml

[2016-03-24 12:22] wendyrogers commented on #22
Thanks for the update. However, I think that the majority of users will unfortunately not be aware of what is mandatory or not and will really need the field(s) in error being indicated much more specifically to them. This has unfortunately also been a problem for users with the V2.01 version of Aidstream .

[2016-03-24 12:32] wendyrogers opened #27 "Sectors Showing As Blanks On Activity Screen"
When viewing activity GB-COH-01926828-ET66/67 the Sector elements has two blank elements?

![image](https://cloud.githubusercontent.com/assets/5500787/14017068/7c29aa60-f1bc-11e5-96a1-61cd012388ef.png)

Has data been migrated incorrectly?

[2016-03-24 12:37] wendyrogers opened #28 "Display Activity Identifier On Main Activity Screen"
As the activity identifer is unique to each activity please could it be displayed on the main activity screen?

![image](https://cloud.githubusercontent.com/assets/5500787/14017097/c6d540ba-f1bc-11e5-9197-63e0deb1c713.png)

In fact it would be useful if the key attributes of most information could be displayed on the main screen, activity dates, contact info, flow type, aid type, etc so you don't

[2016-03-24 12:48] wendyrogers opened #29 "Validation On Transaction Required Sector"
When updating a transaction on activity GB-COH-01926828-TZ21 the transaction validation required that I enter a Sector code on the transaction. However, sector is not mandatory for a transaction unless it is not present at activity level (there is a sector code present at activity level) and then must be present for all transactions - http://iatistandard.org/201/activity-standard/iati-activities/i

[2016-03-25 12:16] sachit-singh commented on #24
I think you are referring to the old [Aidstream](https://www.aidstream.org). Could you please re-confirm. This issue has been taken care of in our new system.

[2016-03-28 05:35] anjesh commented on #20
My understanding is you don't need to mention the default language when the language of the narrative is default lang. If default lang is to be selected, then we can go with your solution.

[2016-03-28 05:39] anjesh commented on #21
Wendy, I still see the problem here. Even if we move the published activities (with missing fields values) to draft, they will still be part of the big XML as long as they don't change that particular invalid activity. The overall XML will pull the published XML piece (the one they have already published) of that particular activity and add the updated one. The invalid activity will get only fixed

[2016-03-28 06:19] anjesh commented on #22
Right now, we are using frontend validation (using js) to catch and display those errors without having to sending the request to server. This makes the form filling a bit easy and quick. The current HTML5 based validation doesn't look proper, however we will explore the other good looking and user-friendly js-validation library.

The server validation is intact for now - which we could use instea

[2016-03-28 06:21] anjesh commented on #23
Yes, in that case, we need to have this something like transactions with the listing first and then add/edit. Will see if this could be released on the first launch or in later sprints.

[2016-03-28 06:23] anjesh commented on #27
It appears that the old AidStream also doesn't contain the sector values during edits. However the view page shows the values - could be issue with the migration in the old AidStream. Will explore on this and see if this could be fixed.

[2016-03-29 03:38] #25 closed, assigned to nobody

[2016-03-29 06:19] #19 closed, assigned to nobody

[2016-03-29 09:05] #26 closed, assigned to sachit-singh

[2016-03-29 11:12] wendyrogers commented on #22
Thanks @anjesh and I think if you can do anything here to make it clear to the user which field is in error then that would be extremely welcome. When there is a form with lots of data it is extremely frustrating not to be able to tell which is the field that needs fixing

[2016-03-29 11:27] wendyrogers commented on #20
You are quite correct @anjesh that the language attribute is not mandatory with the narrative field if the default has been specified. However, I would anticipate that many Aidstream users who are not so IATI savvy will see the language fields with the instruction 'Select from the drop down list' and will think that they will need to select a value each time. Therefore it would be good if we could

[2016-03-29 12:10] sachit-singh commented on #27
This issue has been fixed.

[2016-03-29 12:10] #27 closed, assigned to kritika555

[2016-03-29 12:12] sachit-singh commented on #22
This issue has been fixed already.

[2016-03-29 12:12] #22 closed, assigned to nobody

[2016-03-29 13:01] SJ-bond commented on #20
Hello - yes, if the field can show the default language selected that would be very useful indeed. Similarly with default currency in the transaction fields.

[2016-03-29 13:56] wendyrogers commented on #24
I can't recreate this problem at the moment so happy to close for now

[2016-03-29 13:56] #24 closed, assigned to nobody

[2016-03-29 15:30] wendyrogers commented on #21
Thanks @anjesh and as was discussed with Bond we shall initially be contacting users (post upgrade) in order to get them to amend any activities which had previously been published but were still missing data.

[2016-03-29 15:30] #21 closed, assigned to nobody

[2016-03-31 13:57] rolfkleef opened #30 "When adding an extra sector, the dropdown does not appear"
When adding an extra sector, a new form element appears but the dropdown for sector codes does not work:
![2016-03-31_15](https://cloud.githubusercontent.com/assets/223935/14178001/179e60ac-f759-11e5-932d-db09e2440011.png)

Once you select another sector vocabulary (and maybe switch back afterward), the dropdown appears as well.

[2016-04-01 10:13] sachit-singh commented on #30
This issue has already been solved.

Thank you.

[2016-04-01 10:13] #30 closed, assigned to nobody

[2016-04-05 09:43] siemvaessen opened #158 "Exact location"
We see "GEOPOLITICAL INFORMATION" and the options to choose a country/region w narrative, we are unable to spot the field where we can add and exact geo-location for an activity. Is this hidden or not available?

[2016-04-05 09:47] siemvaessen opened #31 "Fields being used in Aidstream"
We noticed Aidstream does not make use of all fields in IATI, but rather a subset. Is this done by design and will you add the full monty of IATI soon?

[2016-04-05 09:47] siemvaessen opened #32 "Exact location"
We see "GEOPOLITICAL INFORMATION" and the options to choose a country/region w narrative, we are unable to spot the field where we can add and exact geo-location for an activity. Is this hidden or not available?

[2016-04-05 09:48] #158 closed

[2016-04-05 09:57] siemvaessen opened #33 "Security issue: one user can change other users and their actvities"
I can change anything from anybody: https://aidstream.org/activity/700 - not mine, but was able to add 0000 as Other identifier. This was raised back in 2014 (!) on the previous Aidstream version: https://github.com/younginnovations/aidstream/issues/97

Sad to see its re-introduction. FIX ASAP!!

[2016-04-05 15:10] anjesh commented on #33
Thanks @siemvaessen for flagging this. It's a huge overlook from our end. This has been fixed and deployed.

[2016-04-05 15:10] #33 closed, assigned to nobody

[2016-04-11 11:43] rolfkleef opened #34 "Order in the list of activities?"
It's not clear to me how to ordering of the list of activities is done.

Sometimes, when editing a field in an activity, the activity is pushed to the bottom of the list. Sometimes, it's not. Some experiments in our openforchange activities list, with chronological order numbered:
![2016-04-11_01](https://cloud.githubusercontent.com/assets/223935/14425876/f6f3d298-ffea-11e5-8ed0-77d018436b7d.png)

[2016-04-12 12:18] pradhanrak opened #35 "Bug in Result element"
Currently, unable to add multiple periods to a single indicator in the result. The IATI standard says 'Multiple periods can be reported for a single indicator.' (http://iatistandard.org/202/activity-standard/iati-activities/iati-activity/result/indicator/period/)

[2016-04-13 09:13] rolfkleef opened #36 "Download data as IATI XML before publishing"
In the previous version of AidStream it was possible to download a "raw data" file with all activities in IATI XML format, before they are published. This is very useful to provide feedback and visualisations in the process  of getting their data in shape.

In the current version, this "download as IATI" option is no longer available.

Could it be made available again, perhaps with only activities

[2016-04-14 14:42] pradhanrak opened #37 "Element Reference is non mandatory"
The IATI standard indicates that Reference fields under the Performance Results is optional, not mandatory.

Changelog - 2.02
The optional reference element was added (From http://iatistandard.org/202/activity-standard/iati-activities/iati-activity/result/indicator/reference/)

This was also already a part of the discussion when this change was proposed. See http://support.iatistandard.org/entries

[2016-04-14 16:22] TimSchootUiterkamp commented on #37
Thank you for bringing this up. I hope this can be fixed soon, because we are planning to use AidStream to fulfill our reporting obligation to the Dutch Ministry of Foreign Affairs (which needs to happen before the end of this month).

[2016-04-15 12:22] rolfkleef commented on #32
Hi Siem, have you checked "Location" in the settings under "Choose elements to show/ hide"?
https://aidstream.org/settings

There should be a separate link "Location" under "Geopolitical information" in the right-hand column then.

[2016-04-15 12:27] rolfkleef opened #38 "Location: map not showing or updating for a lat-lon location"
When entering a lat, lon for a location, or when editing an existing location, the map doesn't show a pin or zoom in to the specified location.

[2016-04-15 12:28] rolfkleef opened #39 "Location form always shows warning "leave page?""
The page with the location form always shows the pop-up asking to confirm to leave the page, even when nothing is entered or changed.

[2016-04-15 12:45] siemvaessen commented on #32
Aha!

Thanks @rolfkleef , could you also tell me if all IATI fields are availble yet?

[2016-04-15 12:45] #32 closed, assigned to nobody

[2016-04-15 12:45] rolfkleef opened #40 "Location form mismatch with IATI standard"
I think there are some mismatches between the Location form and the IATI standard: these are not required fields, but presented as such in the form:
- Location reach
- Location id
- Administrative
- Point
- Exactness
- Location class

(At least in versions 2.01 and 2.02)

[2016-04-15 12:49] rolfkleef opened #41 "Location form: "Srs name" not added when clicking on the map"
The easiest way to add a location would be to click on it on the map. The lat,lon are then filled in, but the field "Srs name" is not. It's unclear what this is or how to find a value for it.

[2016-04-15 12:51] rolfkleef commented on #39
Actually, the Settings page seems to have this issue too: https://aidstream.org/settings

[2016-04-15 12:57] rolfkleef commented on #32
I don't know about that, I think it was discussed in a check-in call. Maybe specify what you miss under that issue (#31) and we could discuss the roadmap in the next call (scheduled coming Wednesday).

[2016-04-15 13:01] rolfkleef commented on #31
And maybe issue #2 (still open) is related?

[2016-04-18 07:41] pradhanrak commented on #37
@TimSchootUiterkamp We have made the changes to make the Reference Element non-mandatory. You should be able to publish your data to IATI now.

[2016-04-18 07:41] #37 closed, assigned to nobody

[2016-04-18 11:03] MettePfeiffer commented on #37
There seems to still be a hick-up: When trying to mark my activities as complete, I get the following error messages:
"Error 1868:Element 'reference': The attribute 'code' is required but missing.in line no. 69
"Error 1871:Element 'vocabulary': This element is not expected. Expected is ( ##other\* ).in line no. 70"
This respectively whether I filled in the fields (with 99 Reporting organisation an

[2016-04-18 11:05] MettePfeiffer commented on #34
We have the same issue regarding the order of the list of results. It seems random what order they are listed, and sometimes an update changes the order, sometimes it does not. It would be nice to be able to sort the lists yourself, as suggested by Rolf.

[2016-04-18 11:10] MettePfeiffer commented on #14
Still not closed when it comes to the Results: You just see 'Outcome [2]', and have to click twice for each Outcome to see the Title. Would it be possible to include the Title in the overview as well?

![image](https://cloud.githubusercontent.com/assets/18529686/14602162/c2caa0ce-0566-11e6-8c7d-f5fc8e5edc5f.png)

[2016-04-18 11:58] TimSchootUiterkamp commented on #37
Thank you. I've been able to mark my activity as complete.

[2016-04-20 12:11] pradhanrak commented on #41
@rolfkleef we have filled out the "Srs name" with the value provided here: [http://iatistandard.org/202/activity-standard/iati-activities/iati-activity/location/point/](http://iatistandard.org/202/activity-standard/iati-activities/iati-activity/location/point/)
which is http://www.opengis.net/def/crs/EPSG/0/4326
So when we have value for longitude and latitude we just fill the "srs name" attribute

[2016-04-20 12:11] #41 closed, assigned to nobody

[2016-04-20 12:13] pradhanrak commented on #40
@rolfkleef We have fixed this. Thanks for flagging this.

[2016-04-20 12:13] #40 closed, assigned to nobody

[2016-04-20 12:20] pradhanrak commented on #34
@rolfkleef There was no sorting logic defined for the list of activities. We have changed that to sort by latest updated date. We are working on the feature you suggested and enabling the users to sort based on title, last update and status.
@MettePfeiffer We will add the sorting feature to all listing of results and transactions as well.

[2016-04-20 12:26] pradhanrak commented on #39
@rolfkleef We were concerned about users loosing their data when the reloading or exiting the forms. We understand it gets annoying having to click on leave/reload. We have made changes and updated AidStream but we are still working on this to better this.

[2016-04-21 08:04] #35 closed, assigned to nobody

[2016-04-21 12:17] rolfkleef opened #42 "Bogus data in activity-id attribute of participating-org"
It seems that AidStream does not allow to add/edit an activity-id for a participating-org. It does however seem to produce XML data with bogus information in it:

`<participating-org ref="XM-DAC-7" type="10" role="1" activity-id="2226">`

[2016-04-22 10:40] SJ-bond opened #43 "Two organisations have had their new data published without actively publishing it."
Hello, Bond have had two HelpDesk tickets (3518 and 3500 - Wendy might be able to give you access) from organisations this week, where they saved the data in AidStream without actively going through the steps in AidStream to publish it, but the new data has appeared in their activity file on the Registry. This has concerned them as they wanted to verify it  before they published it. Please check i

[2016-04-22 11:09] pradhanrak commented on #43
@SJ-bond could you please assign those tickets to us? currently we don't have access to the tickets.

[2016-04-22 11:13] pradhanrak commented on #39
We have completed this issue. Now the leave/reload pop up shows if there are changes made.

[2016-04-22 11:13] #39 closed, assigned to nobody

[2016-04-22 11:42] SJ-bond commented on #43
@pradhanrak I have just assigned tickets to AidStream support and cc'd you in.

[2016-04-22 12:52] pradhanrak commented on #43
@SJ-bond We might have published the activities for the organisations during testing. But this is not a bug with the system. For the data to be published, it would have to be done manually.

[2016-04-22 13:03] pradhanrak commented on #38
@rolfkleef we have made the changes so that the map and the lat/lng values are in sync.  But for users to be able to zoom, users would have to double click on the map.

[2016-04-22 13:03] #38 closed, assigned to nobody

[2016-04-22 13:46] pradhanrak commented on #42
@rolfkleef we have have fixed this error. Thanking you for flagging this.

[2016-04-22 13:46] #42 closed, assigned to nobody

[2016-04-26 15:25] SJ-bond opened #44 "data updates publishing to IATI Registry without going through the manual publishing process"
Hello, issue #43 update: we've had another organisation reporting this. Are you sure it's not possible that AidStream is automatically updating the file on the Registry when the data is saved?

[2016-04-27 09:35] anjesh commented on #43
Need to check on this once more.

[2016-04-28 08:52] jacqkodden commented on #7
We have the same problem: first, we had 'unsegmented' mentioned in Aidstream and IATI registry, therefore having one general activity XML file only. However, later on it turned out that we should have put it at 'segmented', having country activity files now. But, the general file XML was put at published in Aidstream, although we did not register this in IATI (making a link to that general XML fil

[2016-04-29 05:35] imlunek commented on #34
We have added the sorting feature for **Activities**, **Results** and **Transactions**. By default:
- **Activities** gets sorted by **last updated date and time** in descending order.
- **Results** gets sorted by **result title** in descending order.
- **Transactions** gets sorted by **transaction date** in descending order.

[2016-04-29 06:08] #34 closed, assigned to nobody

[2016-04-29 08:34] RajbanshiNeha commented on #29
Validation of sector code of required has been removed. However, if sector vocabulary is selected then sector code is required.

[2016-04-29 08:34] #29 closed, assigned to nobody

[2016-04-29 12:26] pradhanrak commented on #29
In addition to what @RajbanshiNeha has said, AidStream has made the sector element required at the activity level and optional at the transaction level. We are hoping with this, the system becomes easier to use for its users.

[2016-05-02 05:00] pradhanrak commented on #31
@siemvaessen AidStream has all elements except crs-add and fss. When organisations create their account, not all the elements are shown, they have to go to their settings page and check elements they want to fill out. May be that is the reason you did not see all of the elements? Please do let us know if you find any element missing. I will close this issue for now.

[2016-05-02 05:00] #31 closed, assigned to nobody

[2016-05-02 05:01] pradhanrak commented on #44
@SJ-bond Could please send us the name of the organisations who had this issue?

[2016-05-10 06:21] anjesh opened #45 "Improve Activities CSV Import Functionality"
Current CSV import is very basic and the associated csv template is restricted to limited fields only. We plan to have multiple templates to deal with different use cases possible. There will be only one interface to upload the csv data in any template and the system will import these data into the system. The system flow will be the same and the current flow will be updated to include the interme

[2016-05-10 06:28] anjesh opened #46 "Display user-friendly error messages for the schema generated errors"
Currently in the publishing workflow, when the user completes the activity, the activity xml is validated against the schema and the appropriate error messages are shown, which comes directly from the schema. This makes the error very hard to comprehend and follow. The errors are shown in reference to the XML file - which is not yet generated in the flow. We will develop a module that traverses an

[2016-05-11 10:41] #3 closed, assigned to imlunek

[2016-05-11 15:51] pradhanrak opened #47 "Organisation count on AidStream public pages"
The number of organisation being shown on the homepage and Who's using it? page are total number of organisation account created on AidStream. This includes number of test accounts created by other organisations and also multiple accounts of a single organisation. This count is more than the total number of organisations who have published to the IATI registry, which can be misleading. To remove t

[2016-05-11 15:57] pradhanrak commented on #23
This enhancement has been completed. Now the document links are listed like transactions and results. Users will be able to add and edit document links individually.

[2016-05-11 15:57] #23 closed, assigned to nobody

[2016-05-12 07:58] pradhanrak opened #48 "Fix for Published Activity delete implication"
When a published activity is deleted from AidStream, it is not deleted from the activities XML file. The deleted activities are still included in the activities XML file published to IATI registry.

In the event of deletion of published activities, the following steps will be taken by the system,
1. User will be show a confirmation message, "Are you sure you want to delete this Published Activity?

[2016-05-12 08:22] pradhanrak commented on #46
An example: Error message given by Schema Validation when sector code is missing in sector element is: **Error 1868:Element 'sector': The attribute 'code' is required but missing.in line no. xxxx**

Error message the system is will show:
  **The required Sector Code is missing from the ‘Sector’ element.**
When there are multiple Sector Code missing from multiple Sector elements:
  **Multiple Secto

[2016-05-12 08:49] pradhanrak commented on #45
The following are the mock-ups to show the steps to be carried out to import activities in bulk.
There basically three steps to carry out;
Step 1: This screen shows the Import Bulk Activities interface. In this page, different templates will be available for the users along with description for the templates. The users can download these templates and fill it with their organisation's data and imp

[2016-05-12 09:06] pradhanrak opened #49 "Improve Activity View Interface"
The existing Activity View take a quite of bit of clicking to view all of the information in an activity. To make it easier for the users to view the activity information, the Activity View Interface has been re-designed.
The following design shows the Activity Detail View
![aidstream - activity detail](https://cloud.githubusercontent.com/assets/8123056/15209309/13ea354a-1850-11e6-81f2-de16b9c460e

[2016-05-12 09:07] pradhanrak commented on #28
This issue will be followed up on issue #49

[2016-05-12 09:07] #28 closed, assigned to nobody

[2016-05-12 09:08] pradhanrak opened #50 "Show Activity-wise and organisation-wise changelog"
On Aidstream, the organisations cannot see any of the user activities happening in their organisation account which can be hard to keep track of, like what has been added, edited, deleted, etc. With Activity log, the users will be able to keep track of who made what changes with their data (including the changes made by the Superadmins).

Activity log, by default, would show all of the activities

[2016-05-12 09:09] pradhanrak opened #51 "Show XML view and download functionality for any activity"
Currently XML is generated when an activity reaches the published state of the workflow. The xml is generated into the file to be published to IATI registry and is not available for every activity individually. This is inconvenient for users who want to view xml for the activity they are working on. So with this feature, users will be able to view and download xml for every activity, individually,

[2016-05-12 13:41] stevieflow commented on #96
Hi @anjesh @iatisupport I think this could be a use case with demand, perhaps around federated organisations.  Would it be considered for action?

[2016-05-12 13:51] iatisupport commented on #96
Thanks for the update @stevieflow and now I better understand the background around this one I think it is definitely one that should be considered for implementation. I can certainly see the value in this for a federated INGO that wants to have a single Aidstream account that is managed centrally but with delegated responsibility for specific activities to their staff in country offices

[2016-05-12 15:50] SJ-bond commented on #96
Hi, we'd (Bond) support this as an additional feature, especially as organisations start to migrate from CSV Convertor towards AidStream.

[2016-05-13 06:11] pradhanrak commented on #46
When Transaction date is missing, Schema Validation give following error:
**Error 1871:Element 'value': This element is not expected. Expected is (transaction-date) in line no. xxxx**

Error message the system will show:
  **The required Transaction Date is missing from the 'Transaction' element**
When there are multiple Transaction dates missing, the following message will be shown,
  **Multiple

[2016-05-13 08:41] pradhanrak opened #52 "Improve the activity workflow and publishing task"
To improve the activity workflow and publishing task, there will be intermediate steps to ensure correct files are linked to the IATI registry. The following are the steps being added:
1. The **Publisher id** of the organisation account will be validated on the registry before the activities xml file(s) are generated to be published to the registry.
   If the validation **fails**, that is, the pub

[2016-05-23 09:34] pradhanrak commented on #50
This feature has been completed.

[2016-05-23 09:34] #50 closed, assigned to nobody

[2016-05-23 09:38] pradhanrak commented on #47
This has been completed.

[2016-05-23 09:38] #47 closed, assigned to nobody

[2016-05-23 09:57] pradhanrak opened #53 "Elements show/hide change"
The following is the scenario which has brought a confusion regarding elements when changes are made on the elements checklist on the settings page.
- a user checked an element to add in their activities in the settings page.
- user added information for the element in the activities.
- then user unchecked the element on the element checklist on the settings page.

When this happens, the informati

[2016-05-23 10:44] anjesh commented on #53
I think the unchecked elements (the one not appearing in the activity page) should be excluded from the xml file during publishing. If the element is already included, the element will appear there unless manual publishing occurs.
@wendyrogers what do you think?

[2016-05-23 10:45] wendyrogers commented on #53
Thanks @anjesh  and my recommendation would also be that if the element is unchecked in the 'Setting' then it should NOT be included in the XML. However, the values previously provided in the database should also not be deleted in case the element is subsequently reinstated

[2016-05-23 10:46] anjesh commented on #53
Yes the elements won't be deleted from the database, but they just won't be shown in the xml during publishing.

[2016-05-23 10:54] #1 closed, assigned to nobody

[2016-05-23 10:55] #2 closed, assigned to imlunek

[2016-05-23 10:55] #4 closed, assigned to RajbanshiNeha

[2016-05-23 10:56] #5 closed, assigned to RajbanshiNeha

[2016-05-23 10:56] pradhanrak commented on #43
Same as issue #44

[2016-05-23 10:56] #43 closed, assigned to nobody

[2016-05-23 10:58] pradhanrak commented on #44
@SJ-bond I am closing this issue for now. We couldn't find any instance where the data automatically gets published to the IATI Registry. Please re-open this issue if this occurs again.
Thanks.

[2016-05-23 10:58] #44 closed, assigned to nobody

[2016-05-24 10:01] rolfkleef opened #54 "Removing a budget element from an activity"
When a user has added a budget to an activity, and then decides to remove it again, it leads to a form validation error.

At a page like https://aidstream.org/activity/1234/budget there is a trash can in the top-right corner that suggests it removes the budget, but you still need to save the form to store it, and then the form complains that mandatory information is missing.

A work-around is to g

[2016-05-24 12:21] rolfkleef commented on #53
Agree. I would also propose to change the label on the Settings page from "Choose elements to show/ hide" into "Choose elements to include in your data" to reflect this.

[2016-05-25 06:14] pradhanrak commented on #54
@rolfkleef or we could redirect users to the activity overview when they click the trash when there is only a single, completely empty budget element.

[2016-05-25 06:18] pradhanrak commented on #53
@rolfkleef about changing the label, we will make this change as a part of of the improvement in the settings which we are working on.

[2016-05-25 08:52] rolfkleef commented on #163
This raises conceptual issues...

1) It's relatively easy if the identifier just changes: NL-1 becomes XM-DAC-7

- NL-1 is still on the codelist too
- NL-3, NL-4 and NL-5 now become XM-DAC-7 too? (there don't seem to be agency codes in the XM-DAC-... schema?)

2) It's harder when there are reorganisations, splits, mergers, or endings: I might have an activity funded by the previous version of the

[2016-05-25 09:55] rolfkleef commented on #162
Two suggestions:

- Might be good to look at tools like the Wordpress Multilingual Plugin which does some workflow stuff (what needs to be translated still? what is updated): https://wpml.org/features/

- Might be interesting to try an exchange with a translation platform to allow community translation? Let people offer translations that could be re-imported, as is happening for open source softwa

[2016-05-25 13:50] SJ-bond opened #55 "Error message when using Activity CSV template to upload"
The user downloaded the CSV template for activity bulk upload, added the data and then uploaded it. On upload, user received an error message about line 1 of the data being empty. Line 1 is the field headings row in the CSV template. Is there a work around or fix for this?

[2016-05-26 04:48] pradhanrak opened #56 "Confusion about sum total of percentage in recipient country and recipient region elements"
@wendyrogers on AidStream, when both the recipient country and recipient region are present in an Activity we added a validation so that the sum of percentage of multiple countries in the recipient country element is 100 and same for the sum of percentage of multiple regions in the recipient region element. In the IATI standard document it says ["When both the recipient-region and recipient-countr

[2016-05-26 17:22] stevieflow opened #57 "Wiki: Bulk activity import guidance is missing guidance on DAC5 sector field"
https://github.com/younginnovations/aidstream-new/wiki/Activity-Creation#2-bulk-activity-import - `Sector_DAC_5Digit` is in the template / list of fields - but there is no written guidance

[2016-05-27 14:40] wendyrogers commented on #56
Hi @pradhanrak the rule is that you only ever publish country OR region OR if you publish both (which is only allowed at V2.01 or later) then the percentage of both must sum to 100% combined (eg Bangledesh 50% & South Asia, regional 50%). See http://iatistandard.org/202/activity-standard/overview/geography/

Hope that helps

[2016-06-13 09:09] #45 closed, assigned to imlunek

[2016-06-13 09:10] #52 closed, assigned to sachit-singh

[2016-06-16 09:12] pradhanrak commented on #57
Thank you @stevieflow for letting us know. I have added the instruction for **Sector_DAC_5Digit** in our user guide here, https://github.com/younginnovations/aidstream-new/wiki/Activity-Creation#2-bulk-activity-import

[2016-06-16 09:12] #57 closed, assigned to nobody

[2016-06-23 20:28] stevieflow opened #58 "Where do the activity defaults come from"
(discussion via https://github.com/OpenAgFunding/development/issues/12)

It is possible to determine which fields are accessible for an activity within AidStream.

To begin with, certain fields are enables/ticked by default.

Question - is this default selection informed by anything?  Or - are these defaults just a selection of _likely_ fields ?Any insight/background appreciated

[2016-06-29 08:23] sachit-singh commented on #56
This issue has been solved. Thank you.

[2016-06-29 08:23] #56 closed, assigned to nobody

[2016-07-01 08:57] anjesh opened #59 "Improved Activity CSV Import"
Current Activity CSV import feature is limited with limited number of fields, it doesn't include budget, transactions information. With the improved feature, we would like to add the provision for the importing of budget, transactions, and other fields depending upon the need of the users.
## Template Structure

Template will be custom based on the user's need. There will be 4 blocks that the user

[2016-07-11 11:31] sachit-singh commented on #6
This feature has already been implemented into AidStream.

[2016-07-11 11:31] #6 closed, assigned to RajbanshiNeha

[2016-07-11 11:36] sachit-singh commented on #7
This feature has already been implemented into AidStream.

[2016-07-11 11:36] #7 closed, assigned to RajbanshiNeha

[2016-07-11 11:43] sachit-singh commented on #20
This issue was discussed as 'not to be implemented now', so I am closing this.

[2016-07-11 11:43] #20 closed, assigned to RajbanshiNeha

[2016-07-11 11:50] sachit-singh commented on #46
This feature has already been implemented.

[2016-07-11 11:50] #46 closed, assigned to RajbanshiNeha

[2016-07-11 11:51] sachit-singh commented on #49
This enhancement has been completed.

[2016-07-11 11:51] #49 closed, assigned to nobody

[2016-07-11 12:08] sachit-singh commented on #36
This feature has already been implemented into AidStream.

[2016-07-11 12:08] sachit-singh commented on #51
This issue has already been implemented into AidStream.

[2016-07-11 12:08] #51 closed, assigned to RajbanshiNeha

[2016-07-11 12:19] rolfkleef commented on #36
No it hasn't been implemented. I can only download published activities now. I want to be able to download my data as XML for verification before I publish them. This was possible in the previous version, but not in the current version (or at least: I don't seem to find it anywhere)

[2016-07-12 07:45] RajbanshiNeha opened #60 "Results CSV Import"
The results element has a complex structure, making the entry process difficult. The users will be able to import the results via CSV into the system.
# Tasks
- [x] Design Template and download the template.
- [x] Develop Data Mapping and validation module
- [x] Maintain separate processing queue
- [x] Develop mockup and UX
- [x] Testing

[2016-07-12 08:17] RajbanshiNeha opened #61 "Improved Activity CSV import."
The current Activity CSV import will be improved to mimic the current CSV converter (maintained by IATI secretariat), which will include number of major IATI elements. See the **Description** below.
# Tasks
- [x] 1. Design Templates and download the templates.
- [x] 2. Validate the uploaded CSV file against their types.
- [x] 3. Validate each activity.
- [x] 4. Validate other elements.
- [x] 5. Ma

[2016-07-12 10:06] RajbanshiNeha opened #62 "Implement localization"
We plan to introduce the localised version of Aidstream in at least one language (probably spanish) to start with.
# Tasks
- [ ] 1. Language selection option.
- [ ] 2. Translation plugin research and implementation.
- [ ] 3. Language should be translated correctly into respective locale.

[2016-07-12 11:13] sachit-singh commented on #36
@rolfkleef I apologize for mistaking this feature for a different one. This feature will also be implemented in near future. Thank you very much for letting us know.

[2016-07-12 11:50] sachit-singh commented on #59
Refer to [issue#61](https://github.com/younginnovations/aidstream/issues/61)

[2016-07-12 11:50] #59 closed, assigned to nobody

[2016-07-12 15:11] rolfkleef commented on #36
thank you :-)

[2016-07-13 04:41] shresthaKiran opened #63 "404 page displayed when tried to complete the activity."
When user tried to complete the activity, 404 page was displayed.

[2016-07-13 07:48] imlunek commented on #63
404 page displayed for the activities with empty default hierarchy. It has been fixed by using 1 as default value where hierarchy is not reported as mentioned [here](http://iatistandard.org/202/activity-standard/iati-activities/iati-activity/#attributes)

[2016-07-13 07:49] #63 closed, assigned to imlunek

[2016-07-13 09:49] imlunek commented on #55
The issue seems to be fixed already. Now, such error message is not showing up while following the way you have mentioned.

[2016-07-13 09:51] #55 closed, assigned to nobody

[2016-07-13 10:05] imlunek commented on #54
In activity overview page, we have added edit and remove button to activity element level section that are visible on hover over individual section.

Click on the remove button will remove the individual element data block. So, users won't come across the problem as @rolfkleef had mentioned for removing budget element.

[2016-07-13 10:13] imlunek commented on #8
@anjesh dai I think we can close this issue as new issue #60 has been created.

[2016-07-14 09:55] RajbanshiNeha opened #64 "Migrate files and documents to Amazon Cloud (S3)"
We are planning to host all the uploaded documents and published xml files to Amazon S3 cloud. We will migrate all the existing documents to the cloud and update the system so that any new files uploaded or created from now on, will be directly served from S3. This will ensure the high uptime for the files.

The following tasks have been identified.
- [ ] Setup Amazon S3 account for staging and de

[2016-07-14 10:13] RajbanshiNeha opened #65 "User Registration"
We plan to introduce the new registration flow of Aidstream.
# Tasks
- [x] 1. Managed flow of Settings
- [x] 2. Adding registration agency and registration number
- [x] 3. Proper validation
- [x] 4. Data modifications and migrations
- [x] 5. Integration of email verification for account verification
- [x] 6. Migrations for user permissions
- [x] 7. Added user's secondary contact

[2016-07-18 13:09] wendyrogers opened #66 "Space Included At Start of Reporting Org Ref"
The published XML file produced for Red Cross Red Crescent Climate Centre currently contains reporting-org @ref with a space prefixing the organisation identifier see http://climatecentre.org/downloads/files/rcccadmin-activities.xml

eg <reporting-org type="21" ref=" NL-KVK-27267681">

Can this be prevented by always ensuring that the org. identifier is 'trimmed' of any leading or trailing spaces?

[2016-07-20 10:44] #8 closed, assigned to nobody

[2016-07-20 16:05] wendyrogers opened #67 "No Facility To Set The Humanitarian Attribute On iati-activity"
If I edit the activity identifier field I do not have the facility to set (or unset) the humanitarian attribute for iati-activity see http://iatistandard.org/202/activity-standard/iati-activities/iati-activity/. This is required to indicate that the activity is a 'humanitarian' activity.

Please can this be added (or is it set elsewhere?)

[2016-07-20 16:27] wendyrogers commented on #67
Have found it now in 'override activity defaults'. However, still wondering if this should also be available with the other activity identifier fields or somewhere more prominent so that the user is prompted to consider if it should be set or not? Other users any thoughts?

[2016-07-25 05:35] sachit-singh opened #68 "Segmentation change minor fix."
- [x] fix segmentation change bug when there are no files present.

[2016-07-25 06:33] #68 closed, assigned to sachit-singh

[2016-07-26 09:28] wendyrogers opened #69 "Extra Validation Required For Humanitarian Type and Humanitarian Scope Vocab"
Extra validation is required between the Humanitarian Type and Humanitarian Scope Vocabulary fields. If a user selects a humanitarian type of 1  then they should only be able to select from the values on the Humanitarian Scope Vocabulary where the code starts with '1-' or is '99'. Similarly if a humanitarian type of 2 is selected then the user should only be able to select a vocabulary which start

[2016-07-26 10:57] RajbanshiNeha commented on #66
This issue has been solved.

[2016-07-26 10:57] #66 closed, assigned to RajbanshiNeha

[2016-07-28 11:38] shresthaKiran opened #70 "Activity CSV upload issue."
AidStream displays 'The activity must be of file type: CSV' though user uploaded CSV format file.

[2016-07-28 11:51] sachit-singh commented on #69
Thank you @wendyrogers. This issue has been solved.

[2016-07-28 11:51] #69 closed, assigned to nobody

[2016-07-29 07:34] #70 closed, assigned to shresthaKiran

[2016-08-02 04:54] shresthaKiran opened #71 "Easier way to remove sector details either from transaction level or activity level."
- [x] When user tries to complete their activity, then display two buttons 'Remove sector from Activity level' and 'Remove sector from transaction level',if the activity contains sector information at both activity level and transaction level.
- [x] 'Remove sector from Activity level' button will delete the information of sector from Activity level.
- [x] 'Remove sector from transaction level' but

[2016-08-02 10:34] wendyrogers commented on #61
Where on the template will the new humanitarian elements/attributes be available for import? I think these are likely to become more important over time so would be good to consider them now? Possibly humanitarian-scope on 'Other Fields' although the activity @humanitarian attribute might need to be added to 'Basic Fields' so maybe humanitarian-scope should be added there too?

[2016-08-03 08:39] #71 closed, assigned to shresthaKiran

[2016-08-10 05:19] sachit-singh opened #72 "Organization file linkage label fix"
- [x] organization file linkage bug fixed

[2016-08-10 05:21] #72 closed, assigned to nobody

[2016-08-10 08:14] shresthaKiran opened #73 "User Permission and Registration Agency Verification"
To check the data integrity.

[2016-08-10 08:20] #73 closed, assigned to nobody

[2016-08-22 14:58] siemvaessen opened #74 "Question on branches"
Hi there,

I just noticed Aidstream has +500 branches. (https://github.com/younginnovations/aidstream/branches)

Is there a specific reason to have that many?

Thanks, Siem

[2016-09-22 13:30] SJ-bond commented on #61
Organisations that we work with have also requested that the activity template include elements such as document link, website and contact information, as these are required by their donors. Are these elements included in the update? I can't see it on the list.

[2016-09-27 09:12] anjesh opened #75 "XML Importer for V1.03 and V2.01"
XML Importer will allow the organisation users to import their existing XML files directly into AidStream. For now we will support only V1.03 and V2.01.

Tasks
- [ ] Create Mapping module for V1.03
- [ ] Create Mapping module for V2.01
- [ ] Develop Mockups and UX
- [ ] Unit tests for V1.03
- [ ] Unit tests for V2.01
- [ ] Testing

[2016-10-18 12:45] SJ-bond opened #76 "Error message 'publisher ID not recognised'"
Hi we are receiving reports from organisations that they are getting the error message 'publisher ID not recognised' when they try and publish data  to the Registry. Please advise re the fix you are implementing?

[2016-10-21 11:32] sachit-singh commented on #76
This issue has already been solved.

[2016-10-21 11:32] #76 closed, assigned to nobody

[2016-11-03 05:01] #65 closed, assigned to nobody

[2016-11-15 11:10] rolfkleef opened #77 "CSV upload: date format, semicolons are locale-dependent in Windows"
Currently, an upload of a CSV file where the separator is a semicolon (`;`) rather than a comma (`,`) generates an error that the header row is not the same as the template.

Related: dates are required to be in Y-m-d format.

The problem is that when a user edits the template file in Excel under Windows, he/she has no apparent control over these two things: when you enter a date, Excel will recog

[2016-11-15 11:35] rolfkleef opened #78 "CSV import: valid values for booleans"
The template has a column for the `Humanitarian` field. This is of type xsd:boolean, but only seems to accept `0`, `1`, or nothing. It would be good if it can also accept `no`, `NO`, `false`, `yes`, `true`, and so on.

[2016-11-15 11:49] rolfkleef opened #79 "CSV import: country codes case-sensitive?"
It appears that under `recipient-country`, you're only allowed to use uppercase country codes (`NL`). It would be good to accepts lowercase too (`nl`).

[2016-11-15 12:28] rolfkleef opened #80 "CSV import: multiple budgets"
The CSV import currently doesn't allow for multiple budget lines per activity. However, it is recommended to split a project budget per year or per quarter, so it should be possible to upload multiple budget lines per activity.

[2016-11-15 12:53] rolfkleef opened #81 "CSV import: missing fields"
It would be great to add two more fields to the CSV templates:

* Budget currency is currently lacking
* Related-activity identifier and type would greatly help set up programme-project structures in a breeze

[2016-11-16 09:38] SJ-bond commented on #80
Hi - I'm working with organisations that need this feature too.

[2016-11-16 09:48] SJ-bond commented on #77
This is what I've found when working with the CSV upload:
1. When you download data from AidStream as a CSV it combines multiple instances that occur in the same activity file ie two sector codes or two countries, into a single cell separated by a semi-colon (;). Users then assume that you can upload new activities in the same way, using a semi-colon (;) to separate multiple instances but we've fo

[2016-11-16 09:51] SJ-bond opened #82 "Activity CSV upload: include Contact details"
Hello, please would you add the Contact details elements to the Activity CSV upload? As it's usually the same or similar for each activity, it would be really useful to be able to do this rather than manually input them.

[2016-11-16 10:12] rolfkleef commented on #77
Maybe it makes sense to experiment with [csvkit](http://csvkit.readthedocs.io/en/0.9.1/)?

Basically: `in2csv data.xlsx > data.csv` generates a CSV file from an Excel XLSX file, so Excel can take care of locale for the user, dates will always come out as `2016-11-22 00:00:00` in `in2csv`. And you get rid of separators, encoding, etc (or better: csvkit can deal with that). And users simply can work

[2016-11-24 16:13] SJ-bond commented on #77
You can also use separate rows for additional information for each project (see AidStream guidance page at https://github.com/younginnovations/aidstream/wiki/How-to-use-the-mass-import-option-for-uploading-activities so maybe this should be made clearer?

[2016-11-25 09:45] maharjanraj commented on #82
@SJ-bond We have added Contact details elements in the other templates. Thanks for the feedback.

[2016-11-25 09:45] #82 closed, assigned to nobody

[2016-11-25 09:50] maharjanraj commented on #81
@rolfkleef Sorry for the late reply. We have added Budget currency, Related-activity elements in the others templates successfully. Thank you.

[2016-11-25 09:50] #81 closed, assigned to nobody

[2016-11-25 09:58] maharjanraj commented on #80
@rolfkleef Budgets can now be added multiple times per activity. Thanks for the feedback.

[2016-11-25 09:58] #80 closed, assigned to nobody

[2016-11-25 09:59] maharjanraj commented on #79
@rolfkleef Sorry for the late reply, we have fixed this case sensitivity for recipient-country codes. Now you can enter recipient-country code in lowercase too.

[2016-11-25 09:59] #79 closed, assigned to nobody

[2016-11-25 10:01] maharjanraj commented on #78
@rolfkleef we have added 0,1, yes, no, true, false,etc. for both upper and lower cases for the boolean cases. Thank you for the feedback.

[2016-11-25 10:01] #78 closed, assigned to nobody

[2016-12-01 04:53] #60 closed, assigned to nobody

[2016-12-20 09:59] wendyrogers opened #83 "Unable To Mark Activity As Completed When Country Specified On Transactions"
I have created an activity with the recipient-country specified at the transaction level. However, I cannot mark the activity as 'Completed' as I get an error 'Please make sure you enter the following fields before changing to completed state. - Either Recipient Country or Recipient Region is required"

Please can the validation be amended to recognise that country has been set on the transactions

[2016-12-21 13:41] SJ-bond opened #84 "Related activities data not uploading when using template Activity with Other Fields"
Hello, I've been using the Activity with Other Fields template this week to upload activity data, and I noticed that the data in the Related Activity element did not successfully upload using this template - the rest of the data in the template uploaded fine and there were no error messages on uploading the data. I know this is a newly added element to this template - is it possible for you to tak

[2016-12-22 05:11] maharjanraj commented on #84
@SJ-bond the issue has been fixed. Thank you!

[2016-12-22 05:11] #84 closed, assigned to nobody

[2017-01-02 10:32] rolfkleef opened #85 "Button "Update" for transactions: "Save"?"
Noticed a little confusion of a user: almost anywhere you edit a piece of information, there are two buttons on the bottom: "Save" and "Cancel".

But when editing a transaction, the buttons are "Update" and "Cancel": should this be "Save" as well for consistency?

[2017-01-02 10:38] rolfkleef opened #86 "No "View activity" button in Transactions and Results"
When looking at details of an activity (Title, Description, Sector, etc) there is a "View Activity" button in the top-right, to go back to the activity summary screen (for instance to mark edits as completed).

In the Transactions and the Results areas, this button is not there. Would be useful there too!

(A work-around is to click on another section, then on the "View Activity" button)

[2017-01-06 13:33] SJ-bond opened #87 "Error: User reached or exceeded his exchangeRates API request"
Hello, one of the organisations I work with saw this error message when they tried to publish their data on Wednesday 4 January.

**User has has reached or exceeded his exchangeRates API request**

I've not seen this error message before so I am sharing it here in case you need to take any action. Screenshot attached:
![api_exceeded_anonymised](https://cloud.githubusercontent.com/assets/8158574/21

[2017-01-09 04:40] sachit-singh commented on #87
Hello. This issue has been fixed. Would you try and publishing it once again and let us know if you encounter any errors.

Thank you.

[2017-01-12 08:36] sachit-singh commented on #86
This issue has been fixed.

[2017-01-12 08:36] #86 closed, assigned to nobody

[2017-01-12 08:37] sachit-singh commented on #85
This issue has been fixed.

[2017-01-12 08:37] #85 closed, assigned to nobody

[2017-01-12 08:40] #83 closed, assigned to nobody

[2017-01-12 08:40] #75 closed, assigned to nobody

[2017-01-17 14:07] andylolz opened #88 "transaction/provider-org/@type and transaction/receiver-org/@type should use an OrganisationType codelist dropdown"
`transaction/provider-org/@type` and `transaction/receiver-org/@type` both allow freetext rather than insisting types come from the `OrganisationType` codelist. Validation doesn’t appear to catch this, either when saving the transaction or when marking the activity as complete.

[2017-01-18 04:32] sachit-singh commented on #88
@andylolz Thank you very much. Your assistance is much appreciated.

[2017-01-18 04:32] #88 closed, assigned to nobody

[2017-01-23 16:12] wendyrogers opened #91 "V2.02 Activity Includes Both Country & Region But No Percentage"
When viewing a file published ex Aidstream at v2.02 (https://aidstream.org/files/xml/scnl-689.xml) I noticed that an activity contained the following:

<recipient-country code="ID"/>
<recipient-region code="689"/>

However, country and region should only be published together when a percentage code is used. This is therefore not correct?

[2017-01-24 04:55] sachit-singh commented on #91
Dear Wendy,

It seems that the particular [activity](https://aidstream.org/activity/2222) was added before we had upgraded AidStream. So technically it would be required that you update the activity and republish it to correct it.

Thank you.
Sachit

[2017-01-24 09:15] wendyrogers commented on #91
Many thanks @sachit-singh although the file was produced on '2016-10-31' which I thought was after the upgrade? Was that not the case?

[2017-01-24 10:29] #87 closed, assigned to nobody

[2017-02-21 10:39] anjesh commented on #64
Moved all the files to google cloud maintaining the same file structure.

[2017-02-21 10:39] #64 closed, assigned to sachit-singh

[2017-02-21 10:40] anjesh commented on #62
Localisation module ready for implementation. Language support will be addd as we get the requests and support for language translations.

[2017-02-21 10:40] #62 closed, assigned to RajbanshiNeha

[2017-02-21 10:45] anjesh commented on #58
Apologies for getting late on this.

These defaults used to be DFID recommended fields before V2. Now these are mandatory fields + budget and transactions. Now the Aidstream onboarding process for new users take them through these screens to let them know about the presence of the remaining fields. Also i am thinking whether we need to have these information somewhere in the elements listing for q

[2017-02-21 10:45] #58 closed, assigned to nobody

[2017-02-21 10:46] anjesh commented on #53
Fixed.

[2017-02-21 10:46] #53 closed, assigned to nobody

[2017-02-21 10:56] anjesh commented on #54
Implemented for budget.

[2017-02-21 10:56] #54 closed, assigned to nobody

[2017-02-28 15:30] SJ-bond opened #92 "Using the XML import: issues with 1.03 data"
Hi, the XML import is struggling to import data in 1.03 version of the Standard (this is where a user is switching from CSV Convertor to AidStream). The error message they receive in AidStream doesn't really help (see screenshot attached). Is it possible to fix this please?
![aidstream upload activities](https://cloud.githubusercontent.com/assets/8158574/23411656/de9a8dd4-fdca-11e6-9a9b-e3af790391

[2017-03-08 04:17] shresthaKiran commented on #92
Hello SJ-bond, could you please send us the xml file you tried to upload.

[2017-03-09 13:50] SJ-bond commented on #92
This is the XML file: [https://www.sightsavers.org/wp-content/uploads/2017/02/IATIActivityFileQ42016.xml](url)

[2017-03-10 05:30] shresthaKiran commented on #92
It has been fixed. Could you please try uploading it again in AidStream.

[2017-03-21 08:18] #92 closed, assigned to nobody

[2017-04-10 14:00] andylolz opened #93 "SSL certificate chain is incomplete"
See:
https://www.ssllabs.com/ssltest/analyze.html?d=https://aidstream.org

I think this is causing errors on the IATI registry e.g.:
https://iatiregistry.org/dataset/foei-998

…but also the IATI datastore e.g.:
http://datastore.iatistandard.org/api/1/error/dataset/foei-998

[2017-04-11 08:27] hayfield commented on #93
http://serverfault.com/a/676078 indicates that there is likely a problem caused by requiring an 'Extra download' within both Certification Paths. While browsers are able to deal with this, because magic, the scripts behind the Registry and Datastore cannot.

https://github.com/zakjan/cert-chain-resolver#background provides further information on this, as well as a solution on how to solve it.

[2017-04-11 12:31] HermanvanLoon commented on #93
Unfortunately this affects all publishers using Aidstream. No valid URL's can be automatically retrieved from the registry anymore.

[2017-04-11 13:49] sachit-singh commented on #93
We have updated the SSL certificate for aidstream.org and also have tested from our end. It should be working now. Please re-open this issue if you find any further problems.

[2017-04-11 13:49] #93 closed, assigned to nobody

[2017-04-11 14:34] andylolz commented on #93
Looks good to me!

[2017-04-11 15:16] HermanvanLoon commented on #93
Thanks!

[2017-04-11 16:12] sachit-singh commented on #93
You're welcome. And we're sorry for the inconvenience.

[2017-04-17 18:29] rolfkleef opened #94 "New user registration remarks"
I had the pleasure of going through the "new user registration" flow, setting up a test account for myself. Works well!

Two small remarks:

In step 3 of the sign-up, the layout of the third step seems a little off:
![2017-04-17_01](https://cloud.githubusercontent.com/assets/223935/25099399/66888776-23ac-11e7-8ff4-522a13dadf5d.png)

And after I click the confirmation email, I see two copies of the

[2017-04-21 13:25] rolfkleef opened #95 "Zero values in imported results are not used"
When I import results, values of zero end up as "Not available" in AidStream, and completing an activity is not possible with the error message:

`Multiple Baseline Code are missing from the ‘Baseline’ element. of Description element.`

The error message is not very clear, but in the XML output it says: `Error 1868:Element 'baseline': The attribute 'value' is required but missing.in line no. ..`

[2017-04-26 12:14] sachit-singh opened #96 "Allow Budget Period of more than a year?"
According to the standard budget period should not be more than one year.
Please see http://iatistandard.org/202/activity-standard/iati-activities/iati-activity/budget/period-end/

But it is not the case for most NGOs. Confusion on whether to allow budget with period more than a year.

[2017-04-27 05:38] sachit-singh commented on #95
Hi.

The target and actual value are shown as 'Not Available' whereas the baseline value is shown as 0 if it is a 0 value. However, if the baseline value is missing, i.e., when there is validation error in the file, the above error is shown.
As long as it passes all the schema and AidStream's Validation rules, there should be no problem.

We tested this with the sample data you have provided, and

[2017-05-02 12:00] sachit-singh commented on #95
Hello @rolfkleef

This issue has been solved. Could you please verify from your side.

Thank you.

[2017-05-10 12:32] siemvaessen commented on #74
@anjesh bump.

[2017-05-15 05:15] anjesh commented on #74
@siemvaessen apologies for the long silence. you are right about the branches, the number is high, which people don't have to know. They are our part of the internal gitflows and we have mirrored our internal repo with github and hence you are seeing them. We are planning to enable mirror for the master branch only, rather than entire repo. Thanks for noticing :)

[2017-05-15 05:15] #74 closed, assigned to nobody

[2017-05-15 06:09] anjesh opened #97 "Update Organisation-Registration-Agency List"
There are new Agencies added in this list http://iatistandard.org/202/codelists/OrganisationRegistrationAgency/, which are not yet included in AidStream. There are 91 in the list whereas AidStream has 73.

[2017-05-16 11:57] #97 closed, assigned to sachit-singh

[2017-05-22 06:19] anjesh opened #98 "Reorder the activity-date attributes in XML"
Currently this is how activity-date appears in XML
[code]

It should have been
[code]

Reported by Marten from Akvo.

[2017-05-22 08:48] rolfkleef commented on #98
Hi Anjesh, the order of attributes is not important, both forms are fine. [If you look at the schema](https://github.com/IATI/IATI-Schemas/blob/version-2.02/iati-activities-schema.xsd#L691-L698), you'll see they're actually defined in the order you now use :-)

[2017-05-24 03:50] anjesh commented on #98
Thanks Rolf. I thought so, but schema validated it.

[2017-05-24 03:50] #98 closed, assigned to sachit-singh

[2017-05-29 08:21] #95 closed, assigned to nobody

[2017-06-08 13:43] amy-silcock opened #99 "Error 404 - CSV uploaded activities not found"
I've encountered an error whereby I can't view/edit activities that are listed on my dashboard. These particular activities were uploaded through the CSV import function. They seemed to upload successfully but I then when I try to enter/view/edit them, I get the '404 - something went wrong screen'.

Please can you help sort this.

This is being experienced by a new publisher transitioning from CSV

[2017-06-08 13:48] amy-silcock opened #100 "Error message appearing"
Whilst supporting a publisher to set up their AidStream account, AidStream kept showing an error message 'something went wrong' when trying to verify their publisher ID or select the API field. When updating the activity elements checklist, the page would not save any changes.

The publisher was using a Windows Explorer 10 as their browser.

At the same time, my account was working and I could mak

[2017-06-08 17:01] sachit-singh commented on #99
Dear Amy,

Could you please tell us the organisation into which you had uploaded the Activities?

Sachit.

[2017-06-09 08:05] shresthaKiran commented on #100
Dear Amy,

Could you please provide us the name of the organisation in which this issue was faced.

[2017-06-09 08:28] amy-silcock commented on #99
Hi,

I uploaded Oxford Policy Management’s activities into my account to test it.

It’s the account attached to amysilcock@hotmail.com<mailto:amysilcock@hotmail.com>

Best wishes,

Amy

Amy Silcock I IATI Business and Data Analyst
Development Initiatives, North Quay House, Quay Side, Temple Back, Bristol, BS1 6FL, UK
T: +44 (0) 1179 272 505 I Skype: amy.silcock.devinit.org
devinit.org<http://www.d

[2017-06-09 08:29] amy-silcock commented on #100
Hi Kiran,

It was Oxford Policy Management

[2017-06-14 06:17] sachit-singh commented on #100
Dear Amy,

Your Default Values had not been saved. I have set US Dollar as the default currency and English as Default Language for your account. You will be able to change then under the Default Values settings. Could you please try uploading the activities again and tell us if you face any problems.

We apologize for the inconvenience and the late reply and appreciate your understanding.

Sachit

[2017-06-14 11:02] amy-silcock commented on #100
Dear Sachit,

Is this in response to issue #99 and uploading activities via CSV import?

I have tried uploaded the file again and get the same error message ‘404 – something went wrong’.

I am doing this on my ‘test’ account attached to amy.silcock@devinit.org<mailto:amy.silcock@devinit.org>. In preparation for supporting OPML to import their data across.

With regards to issue #100

Please can yo

[2017-06-15 06:32] sachit-singh commented on #100
Hi Amy,

I have sent an email to Kevin Carr on your request. But I did not see any problems regarding the publisher id and api key because they have already been configured correctly.

In regards to [Issue#99](https://github.com/younginnovations/aidstream/issues/99), the organisation associated with the email 'amy.silcock@devinit.org' is named SilcockTest which has been registered for the Lite(min

[2017-06-15 08:45] rolfkleef opened #101 "Error accepting 0 as indicator value, and wrong error message"
I think this is an error in handling a zero value (maybe similar to #95?):

if I add a target of 0, with a comment, I get an error message. If I change the target value to 1, it is accepted.

(1) value 0 not accepted

(2) the error message seems to the wrong one?

By the way: since the dimension fields are marked in red as well, a user can easily conclude that something needs to be filled in here

[2017-06-15 12:47] rolfkleef opened #102 "Add hint to "Add more" links"
It's usually hard to guess for a user which "Add more" link they need, especially with the results/indicators. Would it be possible to add a hint to the link, so that a little title pops up to show what will be added? Or better: to rephrase the link in "Add another indicator", "Add another narrative", etc?

![2017-06-15_03](https://user-images.githubusercontent.com/223935/27181803-73884abe-51d9-11

[2017-06-16 11:38] sachit-singh commented on #101
Hi Rolf,

This has been solved. Could you please confirm.

Thank you.

[2017-06-18 13:50] rolfkleef commented on #101
Thanks, works now!

[2017-06-19 04:51] #101 closed, assigned to nobody

[2017-06-20 14:43] amy-silcock commented on #100
Hi Sachit,

With Kevin Carr's account, AidStream kept crashing when he tried to enter the details or change the settings. I gather AidStream are currently in contact directly with Kevin about this? The IATI tech team ended up entering the API and publisher ID for him whilst doing 1:1 support as Kevin's system would not allow him to do so.

I have two accounts - one for the full version and one for

[2017-06-21 10:09] sachit-singh commented on #100
Hello Amy,

The issue with the CSV Import has been resolved. Could you please confirm if its ok. However, Kevin has not replied to the email I sent.

Thank you.

[2017-06-21 13:13] amy-silcock commented on #100
Hi Sachit,
Yes the activities that import can now be seen and edited.

However, 5/7 activities are now showing an error saying that the 'ACTUAL START DATE OR PLANNED START DATE SHOULD BE BEFORE ACTUAL END DATE OR PLANNED END DATE.'

I can't see that this is the case on the CSV file:

![image](https://user-images.githubusercontent.com/27764077/27385817-bac8e026-568b-11e7-9d8f-9073196c750b.png)

[2017-06-22 05:46] sachit-singh commented on #100
Hello.

The problem was our date format was rejecting the dates that you had entered. But the issue with the dates has been solved. Could you please check and confirm? Thank you Amy.

[2017-06-22 13:26] amy-silcock commented on #100
Thanks Sachit, it is now working!

[2017-06-23 05:18] sachit-singh commented on #100
You're welcome.

[2017-06-23 05:18] #100 closed, assigned to nobody

[2017-06-26 05:13] #99 closed, assigned to nobody

[2017-07-07 22:46] andylolz opened #103 "Codelists are out of date"
e.g. 23310 is a valid DAC 5-digit code, but:

![screen shot 2017-07-07 at 17 44 30](https://user-images.githubusercontent.com/464193/27979490-5a50b076-636e-11e7-8d1a-d3464ce6ae2a.png)

[2017-07-10 10:21] sachit-singh opened #105 "Entry 1-1 removed from HumanitarianScopeVocabulary CodeList, which has been used."
In the [HumanitarianScopeVocabulary](http://iatistandard.org/202/codelists/HumanitarianScopeVocabulary/) codelist, the entry _1-1 UN OCHA FTS_ was removed. But it has been used in AidStream with around 4 activities published to the IATI Registry. How can this be tackled?

All the activites are for [Cordaid](https://iatiregistry.org/publisher/cordaid) for which  _1-1 UN OCHA FTS_ HumanitarianScopeV

[2017-07-10 10:23] anjesh commented on #105
Sachit, can you also paste the list of activities title with link to their XML file here? thanks.

[2017-07-11 09:48] andylolz commented on #105
Yeah true, it was removed here:
https://github.com/IATI/IATI-Codelists-NonEmbedded/commit/5d5eebb8

But this seems like a question for @dalepotter / @wendyrogers… Shouldn’t this code have been marked as `withdrawn` rather than removed?

[2017-07-11 12:00] andylolz commented on #105
Here’s the discussion about the removal:
https://discuss.iatistandard.org/t/resolved-remove-entry-1-1-from-humanitarian-scope-vocabulary/674

So while removing the code [seems to go against the practice described on the standard website](http://iatistandard.org/202/codelists/codelist-management/#code-status-addition-and-withdrawal-dates), I wonder if it might be better to just encourage Cordaid to

[2017-07-11 12:02] sachit-singh commented on #105
We were just thinking the same thing about it. Thank you @andylolz for the PR and this. :)

[2017-07-13 10:36] PetyaKangalova opened #106 "XML import- error message"
I am supporting a publisher ([UNITAID](https://www.iatiregistry.org/publisher/utd)) in using the XML import feature. When importing the file I receive the following error-  **The uploaded file must be an Xml file** (see screenshot below).
![image](https://user-images.githubusercontent.com/24607542/28162185-2403a20e-67be-11e7-8ff9-9457de18ec86.png)

The file I am uploading is an XML file and valida

[2017-07-13 11:22] SJ-bond opened #107 "Problems with seeing final pop-up screen to publish data"
We've had 5 organisations recently say that they were not able to see the final pop-up screen that is the last stage to publish their data. They think they are published when they are not. This is a problem as it's resulting in delayed payments to them from their funders.

I'm not sure what browser they are using but it's likely to be Internet Explorer from Microsoft (which is the default that com

[2017-07-14 04:18] shresthaKiran commented on #107
Dear SJ Bond,

Could you send us a screen shot for the error. We are a bit confused.

[2017-07-14 04:25] shresthaKiran commented on #106
Dear Petya,

Could you please send us the xml file.

[2017-07-14 08:47] PetyaKangalova commented on #106
Hi Kiran,
I have sent the file to support@aidstream.org. Let me know if you received it.
Thanks

[2017-07-14 09:07] shresthaKiran commented on #106
Hello Petya,

Thank you for sending the file.

It seems the file is missing `<?xml` version="1.0" encoding="UTF-8"?>` tag due to which, it was not recognized as xml file.

Currently, Aidstream only supports IATI xml version '1.03', '1.05' and onwards. To be able to import this xml, you have to change the IATI xml version to atleast '1.03' and also remove " <ir:registry-record xml:lang="en" file-id

[2017-07-18 11:50] amy-silcock opened #108 "Error with Activity IDs"
Hi all,

I've noticed on Palladium's activities that the ID's start with GB-CHC-123456

![image](https://user-images.githubusercontent.com/27764077/28315723-a4f31730-6bb7-11e7-89d2-aebf9c0ade39.png)

I can't see where this is coming from and don't think it should be included.

Can you take a look?

Thank you, Amy

[2017-07-18 12:22] sachit-singh commented on #108
Hello Amy,

It seems that the Activity Identifier for the activity concerned for Palladium is '-COH-2394229-BDSEP', where as it should have been 'BDSEP' only. I have attached a screenshot below.

Once the activity identifier is updated, then the correct activity identifier will appear.

![palladium](https://user-images.githubusercontent.com/8382151/28316796-ecfd60e0-6be3-11e7-9db9-0c9dc671c602.png

[2017-07-18 13:29] sachit-singh commented on #108
But the activity needs to be published once again.

[2017-07-18 13:38] amy-silcock commented on #108
Thanks @sachit-singh!

[2017-07-18 14:27] sachit-singh commented on #108
No problem @amy-silcock !

[2017-07-18 14:27] #108 closed, assigned to nobody

[2017-07-18 16:32] PetyaKangalova commented on #106
Many thanks for looking into this so quickly @sachit-singh  I have now fixed the file but I am still getting an error with the XML  import. I will share the updated file via email. Would woul be able to look into this again?

![image](https://user-images.githubusercontent.com/24607542/28328580-ed3efffa-6bde-11e7-9915-e23450b22e39.png)

Best wishes,
Petya

[2017-07-18 17:01] sachit-singh commented on #106
Hello Petya,

I just tried importing your xml file into my test account as well as yours. However I did not get this error. I'm a little confused. Except for the error for the missing type attribute for the Activity Identifier Element.

Could you please verify?

Thank you.

[2017-07-18 17:05] #105 closed, assigned to anjesh, sachit-singh

[2017-07-18 17:06] sachit-singh commented on #103
Thanks again @andylolz

[2017-07-18 17:06] #103 closed, assigned to nobody

[2017-07-19 09:19] amy-silcock opened #109 "Downloading and uploading CSV files"
Hi AidStream,

Would be useful if publishers could download a CSV file from AidStream, edit it, and then upload it again. At the moment I can't get this circular process to work, as the CSV files I can download do not match the template needed to upload a CSV file into AidStream.

Could this be done?

Thank you, Amy

[2017-07-19 09:26] amy-silcock commented on #109
Also thinking here, can this process be used to update a publisher's data? Would it overwrite existing data, new transactions be added, or the file not be uploaded because of duplication etc.?

[2017-07-19 09:51] PetyaKangalova commented on #106
Hi Sachit,

I tried again a few times and get the same error. Weirdly, the error message in red disappears after a few seconds, but the activities are not imported. I am using Firefox for my test account.

Would you be able to share a screenshot with the error you get? In a way this is good news as it means that the file has been uploaded successfully and UNITAID will then be able to upload their

[2017-07-19 11:41] sachit-singh commented on #106
Hello Petya,

I'm a bit confused as well. I have attached the screenshot of the Activity that I uploaded from the UnitAid Xml file that you had sent me, into your test account (Petya_IATI_test account).

![petya_2](https://user-images.githubusercontent.com/8382151/28365174-35680736-6ca7-11e7-8a42-7b54140ff468.png)

[2017-07-19 12:00] sachit-singh commented on #109
Hi Amy,

Yes it can be done but the format do not match exactly. Because the download an upload do not cover all the elements/data. Even though it can be done.

[2017-07-19 13:27] PetyaKangalova commented on #106
Hi Sachit,
Thanks again for the quick response. I am not sure why this is occurring. I have asked UNITAID to try importing the file in their account and see whether they get the same error. I will probably talk to them next week, so if it is okay, let's keep the issue open and I will provide an update once they have tested with their account next week.

Best,
Petya

[2017-07-20 04:24] sachit-singh commented on #106
Hi Petya,

Could you try logging out and then logging in again and then importing the file and tell me if you have the same problem??

Thank you.

[2017-07-20 08:27] PetyaKangalova commented on #106
Hi Sachit,
Yes, logging out and in worked and the file was imported successfully. Many thanks again! I will close the issue now.
Best,
Petya

[2017-07-20 08:27] #106 closed, assigned to nobody

[2017-07-20 12:01] sachit-singh commented on #106
Hi Petya,

Not a problem :)

Best Regards,
Sachit

[2017-07-20 15:15] rolfkleef opened #110 "Confusion over organisation name in transactions"
I got a question about the provider and receiver organisation in a transaction: the user entered the organisation and activity identifiers, so technically that's sufficient.

The view of the transaction suggests that the provider and receiver organisation are not available, which leads to confusion:
![2017-07-20_01](https://user-images.githubusercontent.com/223935/28424784-cf302bb0-6d6e-11e7-9546-

[2017-07-21 04:45] sachit-singh commented on #110
Dear Rolf,

The issue has been fixed. Could you verify from your end. Thank you.

[2017-07-21 13:28] rolfkleef commented on #110
In my [test activity](https://aidstream.org/activity/10437/transaction/84216), the result still seems to be the same?
![2017-07-21_01](https://user-images.githubusercontent.com/223935/28465443-185306ae-6e29-11e7-9b2b-9c635653b082.png)

(Looking at the other fiels, something like "Name: not available" seems to be a good option.)

[2017-07-24 04:51] sachit-singh commented on #110
Hello Rolf,

It has now been fixed. It seems that I had missed a file to update. Can you please verify from your end. We apologize for the inconvenience and appreciate your understanding.

Best Regards,
Sachit

[2017-07-24 13:12] rolfkleef commented on #110
Thanks, works now!

[2017-07-24 13:12] #110 closed, assigned to nobody

[2017-07-31 10:59] wendyrogers commented on #91
Hi team I have just come across another example of this for an activity with a start date of 2017 see http://d-portal.org/q.xml?aid=NO-BRC-977538319_AFFM1709

A publisher should not be able to publish an activity with both country and region but no percentages (and both percentages must be > 0)

Please could you investigate. Many thanks

[2017-07-31 11:48] sachit-singh commented on #91
Hello Wendy,

Yes, for a publisher to be able to publish an activity with both country and region, the percentages should be greater that zero, and they must sum up to 100. However, 100% for a Recipient Country and 0% for a Recipient Region is also allowed.

The link to the XML file that you had sent us is not the one generated through AidStream. We have found the same activity XML (see https://ai

[2017-08-01 08:23] wendyrogers commented on #91
Thanks @sachit-singh and the raw file I was looking at is https://aidstream.org/files/xml/nrc-679.xml where the recipeint-country is set to 100 and the region to 0. However, this makes no sense although I can also see that the documentation appears to imply this is okay  -http://iatistandard.org/202/activity-standard/iati-activities/iati-activity/recipient-region/

I'm therefore going to raise thi

[2017-08-01 08:54] sachit-singh commented on #91
Ok Wendy. Thank you for your help.

[2017-08-07 13:16] amy-silcock opened #111 "Registration Agency - LR-MPEA"
Can the following registration agency please be added to AidStream:

**Code**: LR-MPEA
**Name**: Ministry of Planning and Economic Affairs
**Country**: Liberia
**Description**: The Ministry of Planning and Economic Affairs (Liberia) held responsibility for regulating the activities of Non-Governmental Organisations (NGOs). It issues a "Certificate of Accreditation" to organisations, which should b

[2017-08-07 13:36] amy-silcock opened #112 "Published files with no data"
Whilst reviewing some Registry data I've found that there are a number of AidStream files containing no activity/organisation data.

These include:
- Action Against Hunger
- MicroLoan Foundation
- Natural Resource Governance Institute
- PHASE Nepal
- Retrak
- ShelterBox
- UK Welsh Government's Wales for Africa programme
- Forests Monitor

I don't know whether these are mistakes/bugs or perhaps som

[2017-08-09 06:12] sachit-singh commented on #112
Hello Amy,

Among the Organisations you had mentioned, MicroLoan Foundation and Forests Monitor have empty activity files, while the other Organisations have the Organisation files only, but most with the name element only. Cannot say that it is incorrect.

However, the 2 activity files, for Microloan and Forests Monitor had been migrated from the old AidStream and are using the old XML version (1

[2017-08-09 07:34] sachit-singh commented on #111
Hello Amy,

The mentioned registration agency has been added. Could you please verify.

Thank you.

[2017-08-09 08:15] amy-silcock commented on #111
Wonderful, thank you for adding this. I can confirm that it is here.

[2017-08-09 09:45] sachit-singh commented on #111
You're welcom Amy.

[2017-08-09 09:45] #111 closed, assigned to nobody

[2017-09-07 09:38] amy-silcock opened #113 "New Registry Organisation - JO-CCD"
Hi AidStream,

Please can you add the following Registration Agency code for Jordan onto AidStream:

JO-CCD Companies Control Department

Many thanks,

Amy

[2017-09-07 12:37] sachit-singh commented on #113
Done.

[2017-09-07 12:37] #113 closed, assigned to sachit-singh

[2017-09-12 16:15] amy-silcock commented on #109
Hi, I'm currently working with five organisations who are using or wanting use the CSV import function. This is highlighting the user need for a closed looped system.

To meet user need, we would like to see the ability to:
- download full activity data that exactly matches the current CSV template
- so that publishers can then update the downloaded CSV file and import it back into AidStream

Assu

[2017-10-06 16:09] PetyaKangalova opened #114 "Allowing multiple sector elements at transaction level"
I just had a call with a publisher using Aidstream. They are publishing` sector` information at transaction level. According to the IATI standard `iati-activities/iati-activity/transaction/sector` the sector element can occur multiple times. See reference in [IATI activity summary table](http://iatistandard.org/202/activity-standard/summary-table/).

At the moment, Aidstream does not have this fun

[2017-10-10 06:19] sachit-singh commented on #114
Thank you @PetyaKangalova for noticing. I don't know why, but it seems we might have missed this during developement. Is it okay if I inform you once I look into the necessary changes? Thank you once again Petya. Have a good day.

[2017-10-10 10:20] PetyaKangalova commented on #114
@sachit-singh  Many thanks for the quick response and no problem at all. I am also cross-checking with @wendyrogers if there is any further guidance we need to provide before you implement any changes.  If you can wait until early next week that would be great. Many thanks again.

[2017-10-10 10:36] sachit-singh commented on #114
Yes we can surely wait until then @PetyaKangalova. Thank you very much.

[2017-10-11 11:42] TvIngen opened #115 "How can I delete document links from IATI activities?"
I removed the link from the activity file but it still appears in the IATI previewer and in the document list itself (Aidstream) the link is still there and can't be deleted

[2017-10-11 13:25] amy-silcock opened #116 "Use of hierarchies"
Hi,

Can you please remove the option for publishers to select the default hierarchy level as greater than 1? This still allows publishers to override the hierarchical level for individual activities. There are a few instances where publishers are only publishing at levels 3, 4 and 5 etc. Or not they are not publishing sequentially.

This should help reduce the problem.

Thank you.

[2017-10-12 06:43] sachit-singh commented on #116
Hello Amy,

Do you mean the override functionality for activities? Also, could you let me know about some of those instances where publishers are only publishing at levels 3 or more. Yes, it can be done, but I will have to check with its implications, with which you might be able to help.

Thank you Amy.

[2017-10-12 06:44] sachit-singh commented on #115
Please follow the support ticket that you had created.

[2017-10-12 06:44] #115 closed, assigned to nobody

[2017-10-12 15:14] amy-silcock commented on #116
Hi,

Not the override function but the initial setting of the default activity level:
![image](https://user-images.githubusercontent.com/27764077/31503243-0f511864-af67-11e7-9001-d19fce6899c4.png)
It would be good if this was always set at level one. Not many organisations are using hierarchies incorrectly. But this simple fix should prevent a few errors.

Then organisations can still override thi

[2017-10-12 16:55] sachit-singh commented on #116
Thank you Amy. I will get back to you on this as soon as possible.

[2017-10-13 06:11] sachit-singh commented on #116
Hi Amy,

By 'always setting the Default Hierarchy to 1', did you mean not letting the users change it (under settings) and only letting the users override the Default Hierarchy for Activities? Or can the users still change the Default Hierarchy for the Settings?

[2017-10-13 08:18] amy-silcock commented on #116
First option - always setting the default hierarchy to 1

[2017-10-13 10:43] sachit-singh commented on #116
Hi Amy,

The Default Hierarchy is now set to one. Users can only override them at the Activity level. Can you confirm this? And I have a question. What about the organisations that publishing at levels other than 1? They will not be able to change it to 1 now. How should we proceed with this?

[2017-10-13 10:49] amy-silcock commented on #116
Thanks Sachit.

I can confirm that the change has been made. Could you please amend the description to correspond with the changes made?

I have contacted all the AidStream organisations who have published with a default value higher than 1. Can I l get you know if they get back to me and then ask you can change them individually? We can't change an organisation's data without their consent.

[2017-10-13 10:50] sachit-singh commented on #116
Yes, sure thing Amy. Thanks.

[2017-11-01 11:05] PetyaKangalova commented on #114
@sachit-singh I have now checked and can confirm that multiple sectors are allowed, so could you please go ahead and implement the changes requested above? See [Activity Summary Table.](http://iatistandard.org/202/activity-standard/summary-table/) which shows that` sector` can occur multiple time 0...*  at activity `iati-activities/iati-activity/sector ` and
transaction `iati-activities/iati-activ

[2017-11-06 05:37] sachit-singh commented on #114
Thank you @PetyaKangalova. I will let you know once it has been completed.

[2017-11-14 06:02] sachit-singh opened #117 "Problem with printing an Activity - Google Chrome"
While printing a large activity on Google Chrome, the print preview does not load. Seems there is an issue with Chrome itself. Works in Mozilla firefox.

[2017-11-16 08:33] sachit-singh commented on #114
@PetyaKangalova This has been deployed not. Could you please verify ? Thank you.

[2017-11-16 09:25] PetyaKangalova commented on #114
@sachit-singh  Many thanks! I have now checked the functionality on Aidstream and can add multiple sectors.  I will inform the publisher I was working with so that they can start using it.

Thanks again!

[2017-11-16 09:25] #114 closed, assigned to nobody

[2017-11-24 11:38] amy-silcock opened #118 "Updating Activity IDs"
Hi AidStream,

DEFRA - Department for Environment, Food and Rural Affairs have updated the IATI Org ID in their AidStream account. This hasn't automatically updated all of their c.300 activity IDs.

Are you able to update their activity ID's with the new information? Rather than them having to go through and manually update/refresh them. Do let me know.

Thank you,

Amy

[2017-11-24 11:40] amy-silcock opened #119 "Group Verification and Publishing of Activities"
Hi AidStream,

A few organisations have been asking if it would be possible to add a check list to the activities on AidStream. So that they could select multiple to verify/complete/publish at the same time.

This is particulary for organisation who are publishing a large number of activities. Do let me know.

Thank you,

Amy

[2017-11-29 11:03] amy-silcock opened #120 "Activity IDs - allow more characters"
Hi AidStream,

Can you please amend the 'Organisation Registration Number' field under settings to allow a greater range of characters. It's decided that organisations should replicate their registration number as it appears on their certificate this can include '/', ':' etc.

![image](https://user-images.githubusercontent.com/27764077/33372095-bcaf3920-d4f4-11e7-89f7-4449aaee39ec.png)

[2017-12-05 05:09] deepakt3 opened #121 "old activity not deleted from registry"
We have deleted duplicate activity file from AidStream but it seems that it has not been deleted from the registry. Can you kindly look into this matter?
Our organisation identifier is XI-IATI-1002

Thank you

Deepak

[2017-12-05 11:56] sachit-singh commented on #121
For the activity to be deleted on the registry, you will need to publish you data (an activity or activity xml file).

[2017-12-06 15:37] amy-silcock commented on #118
Hi AidStream,

Please could this be looked into. Other organisations are also having the same issue.

This issue also occurs with the details they enter in the 'settings' tab being pulled through into their 'organisation' tab.

[2017-12-06 15:39] #116 closed, assigned to nobody

[2017-12-08 10:29] sachit-singh commented on #120
Dear Amy,

Now '/' characters have been allowed for the Identifier element. Could you please verify from your end. Apologies for the delay.

Sachit

[2017-12-08 10:31] sachit-singh commented on #118
Dear Amy,

The activity identifiers would need to be updated manually and then be republished.

[2017-12-08 10:32] sachit-singh commented on #119
Yes, this is completely possible. I will let you know once this feature has been released.

[2017-12-08 10:51] amy-silcock commented on #120
Dear Sachit,

That's great! I can confirm it is working. Please can the character : also be added?

Best wishes,

Amy

[2017-12-08 11:05] amy-silcock commented on #118
Dear Sachit,

At the moment users just need to go into the activity ID for each activity and re-save the page.  As only the Org ID has changed, this ideally needs to be made automatic.

[2017-12-08 11:39] amy-silcock commented on #118
Dear Sachit,

Re-thinking this one. Could you possibly just update these for DEFRA (Department for Environment, Food and Rural Affairs)? They have 281 activities.

I will then work with the organisations to do this manually?

[2017-12-08 12:05] sachit-singh commented on #120
Hi. The colon character(:) is also now allowed. Could you please confirm Amy?

[2017-12-08 12:06] sachit-singh commented on #118
Well we don't actually update data in bulk. I will see what I can do. But it is going to take sometime.

[2017-12-11 03:47] deepakt3 commented on #121
I have deleted the activity file. so how could I publish that that. please advise.

DEEPAK THAPA
Funds Management Officer  |  Funding Management Team
[http://www.umn.org.np/umn_signature/email-icon.png] deepak.thapa@umn.org.np<mailto:deepak.thapa@umn.org.np>  |  [http://www.umn.org.np/umn_signature/phone-icon.png]  +977 1 4228118 ext. 110<tel:+977%201%204228118>  |  [http://www.umn.org.np/umn_sign

[2017-12-11 04:42] sachit-singh commented on #121
Dear Deepak,

In order to update the data in the IATI Registry, you would need to publish an Activity. In this case, you need to publish the remaining activity. I have published it on your behalf. Could you please confirm?

Best Regards,
Sachit

[2017-12-14 09:11] amy-silcock opened #122 "Adding new Registration Agency SN-NINEA"
Hi AidStream,

Please could you add the following registration agency code: http://org-id.guide/list/SN-NINEA

Many thanks,

Amy

[2017-12-18 03:59] deepakt3 commented on #121
Dear Sachit ji,

Thank you for this. Please kindly  publish the file.

Regards,

Deepak

DEEPAK THAPA
Funds Management Officer  |  Funding Management Team
[http://www.umn.org.np/umn_signature/email-icon.png] deepak.thapa@umn.org.np<mailto:deepak.thapa@umn.org.np>  |  [http://www.umn.org.np/umn_signature/phone-icon.png]  +977 1 4228118 ext. 110<tel:+977%201%204228118>  |  [http://www.umn.org.np/umn

[2017-12-18 04:40] sachit-singh commented on #121
Dear Deepak,

The file has already been published.

[2017-12-18 05:08] deepakt3 commented on #121
Dear Sachit ji,

Thank you for your kind support. I will contact you if need more support.

with best regards,

Deepak

DEEPAK THAPA
Funds Management Officer  |  Funding Management Team
[http://www.umn.org.np/umn_signature/email-icon.png] deepak.thapa@umn.org.np<mailto:deepak.thapa@umn.org.np>  |  [http://www.umn.org.np/umn_signature/phone-icon.png]  +977 1 4228118 ext. 110<tel:+977%201%204228118>

[2017-12-18 05:19] sachit-singh commented on #121
Glad to be of help Deepak ji.

[2017-12-18 05:19] #121 closed, assigned to nobody

[2017-12-18 05:30] sachit-singh commented on #122
Done.

[2017-12-18 05:30] #122 closed, assigned to nobody

[2017-12-20 05:29] #120 closed, assigned to nobody

[2018-01-04 13:14] DanielHickin opened #123 "'other-identifier' field into csv"
Hi AidStream. I recently had to update our IATI Identifier from the GB-1 to GB-CHC. I am also new to AidStream, and was advised that I would need to update manually the 'other-identifier' field on over 120 individual activities. It would be a great help if this field could be included in the csv. Many thanks in advance for your advice and help. Daniel

[2018-01-09 10:23] amy-silcock opened #124 "Org File not updating"
Hi AidStream,

The organisation DCAF registered with AidStream with an incorrect IATI Org ID. This was corrected on AidStream before they published their data to the IATI Registry.

However, their Org File is still showing their wrong IATI Org ID for their reporting org.

Please can this be fixed or let them/me know how to fix this.

Thank you.

Amy

[2018-01-09 10:43] sachit-singh commented on #124
Dear Amy,

The Reporting Organisation identifier for DCAF is 'CH-FDJP-109458452' which is the same in the xml file linked to the registry. You can see it [here](https://aidstream.org/files/xml/dcaf-org.xml). Is this what you mean?

Best Regards,
Sachit

[2018-01-09 12:25] amy-silcock commented on #124
Thanks Sachit. Yes it is now working.

Prior to this it was appearing as XI-IATI-CH-FDJP-109458452 for me.

Thanks, Amy

[2018-01-09 12:25] #124 closed, assigned to nobody

[2018-02-07 10:16] anjesh opened #125 "xlsx file should be allowed in document-link"
## Why

xlsx files can't be uploaded in the document-link element. It gives error that "No such files allowed".

![image](https://user-images.githubusercontent.com/120488/35910835-09a61bc4-0c20-11e8-91e1-0396cc70589b.png)

## What

- [x] enable xlsx file upload

[2018-02-07 13:59] amy-silcock opened #126 "Participating Org Error"
Hi AidStream,

Talking with BEIS who are using AidStream. They have encountered an error when on the 'Organisation' tab and are trying to add a new participating organisation. They type in the name of the organisation (who are not yet publishing to IATI and haven't yet been included elsewhere in their activities) and no 'drop down' list appears for them. This prevents them adding the new organisat

[2018-02-13 17:23] SJ-bond commented on #126
Hi - we also found Amy's issue when we were training people to use AidStream two weeks ago - the people using Microsoft browsers and Opera browsers were not able to add organisations. The feature worked fine on Chrome and Firefox. Also it was not evident that the user has to add new organisations to a separate list found on the dashboard/organisation tab - we kind of worked it out in the workshop

[2018-02-14 15:07] PetyaKangalova commented on #126
I have also just been alerting by a publisher (IDLO) that there inconsistencies in the current participating org list - I have copied you in my response to them.

I can see organisations can suggest edits, but wanted to check where you have pulled the original list and why there are differences with the organisation identifiers on the Registry. See screenshots below. Thanks!

![image](https://user

[2018-02-16 05:33] sachit-singh commented on #126
Dear Amy and Sarah,

I am sorry that I could not get back to you sooner. Could you use Chrome or Firefox for now, as there is a compatibility issue with IE. It works on Edge though. We are working on it. I will have you notified once it has been resolved.

Best Regards,
Sachit

[2018-02-16 05:34] sachit-singh commented on #126
Dear Petya,

Anjesh will be getting back to you on this matter. Apologies for the late reply.

Best Regards,
Sachit

[2018-02-28 11:49] amy-silcock opened #127 "Adding Registration Agency DE-CR"
Hi Aidstream,

Please can the registration agency DE-CR be added?

http://org-id.guide/list/DE-CR

and

http://org-id.guide/list/ET-MOT

Many thanks,

Amy

[2018-03-05 06:21] sachit-singh commented on #127
Added. Thank you.

[2018-03-05 06:21] #127 closed, assigned to nobody

[2018-03-06 12:41] amy-silcock opened #128 "Adding Registration Agency: ET-CSA"
Hi AidStream,

Please can you add the following registration agency:

ET-CSA - Charities and Societies Agency (Ethiopia) (http://org-id.guide/results?structure=all&coverage=ET&sector=all)

Best wishes,

Amy

[2018-03-12 07:32] sachit-singh commented on #128
Added.

[2018-03-12 07:32] #128 closed, assigned to nobody

[2018-03-12 08:40] anjesh opened #129 ""other-identifier" element doesn't appear in published XML file"
- [x] Show "other-identifier" element in XML

When you publish the activity containing "other-identifier", it doesn't appear in XML file. It should appear in the XML.

[2018-03-12 09:36] sachit-singh commented on #129
Deployed.

[2018-03-12 09:36] #129 closed, assigned to sachit-singh

[2018-03-14 17:43] PetyaKangalova commented on #126
@anjesh  Has there been any update on this? It will be good to provide IDLO with an update as soon as possible.

Thanks,
Petya

[2018-03-15 12:45] anjesh commented on #126
Hi @PetyaKangalova apologies for getting late on this. US-1 appears to be coming from one of the organisation-xml-file. The identifier is now updated to US-GOV-1.

[2018-03-27 14:55] amy-silcock opened #130 "Adding Registration Agencies"
Hi,

Please can the following codes be added:

Superintendencia Nacional de los Registros Públicos (Peru): (PE-SUNARP)
Tanzanian Revenue Authority (TZ-TRA)
Registrar of Companies in Mauritius [MU-CR)
Dubai Multi Commodities Centre' (AE-DMCC)
Department of Associations (Ministry of Interior, Turkey)' (TR-MOI)

(From https://github.com/org-id/register/issues/created_by/amy-silcock)

Thank you,

Amy

[2018-03-27 19:01] sachit-singh commented on #130
Done.

[2018-03-27 19:01] #130 closed, assigned to nobody

[2018-03-30 11:29] anjesh opened #131 "Enable all org-id-list for a given country rather than by org-type"
What
====

- [x] show all the org-id-list when a country is selected rather than current scenario (where org-id-list is associated with org-type)

Why
====

When the user selects the organisation-type in the participating-org-add form, then the user will see the associated org-id-list based on the organisation-type as per org-type mapping in http://org-id.guide/. This has restricted the use of som

[2018-04-02 08:07] sachit-singh commented on #131
Deployed.

[2018-04-02 08:07] #131 closed, assigned to sachit-singh

[2018-04-02 08:07] sachit-singh commented on #125
Deployed.

[2018-04-02 08:07] #125 closed, assigned to nobody

[2018-04-03 08:51] amy-silcock opened #132 "Registration Agency CO-RUE"
Hi AidStream,

Please can the Registration Agency CO-RUE be added
http://org-id.guide/list/CO-RUE

Many thanks,

Amy

[2018-04-03 10:06] amy-silcock commented on #132
Please can we also add:

ES-RMC
http://org-id.guide/list/ES-RMC

And
ES-CIF
(company tax identification code) from the tax office (Delegación de Hacienda)

[2018-04-03 12:09] sachit-singh commented on #132
Done.

[2018-04-03 12:09] #132 closed, assigned to nobody

[2018-04-09 09:15] anjesh opened #133 ""Add country" option not working in lite version"
Clicking "Add another country" gives error in console and the user can't add country in lite version.

![image](https://user-images.githubusercontent.com/120488/38489554-78290e92-3c06-11e8-8ec4-e2f08943979e.png)

[2018-04-09 11:00] sachit-singh commented on #133
Deployed.

[2018-04-09 11:00] #133 closed, assigned to sachit-singh

[2018-04-25 13:19] amy-silcock opened #134 "Publishing extra Org Files"
Hi AidStream,

An issue is occurring with a few publishers where they are publishing details of their participating orgs in their Org File. To others, it appears that DFID (for example) have multiple Org files when in fact these are being published by organisations they are funding.

e.g:
![image](https://user-images.githubusercontent.com/27764077/39248225-669e4a68-4893-11e8-8fdd-f32c4e3a0510.png)

[2018-04-27 11:43] amy-silcock opened #135 "Org file not validating"
Hi AidStream,

The publisher Comité pour l'abolition des dettes illégitimes (cadtm) can't complete their org file as it says their 'name' is missing.

Can you fix this, as they have added their name and I'm not sure what the error is.

![image](https://user-images.githubusercontent.com/27764077/39361051-9cc6c09e-4a18-11e8-9912-52b6f23bce4d.png)

Best wishes,

Amy

[2018-05-01 15:11] jahnvidave opened #136 "Registration Agency RW-RGB"
Hi Aidstream,

Please can the Registration Agency RW-RGB be added?
http://org-id.guide/list/RW-RGB

Thank you,
Jahnvi

[2018-05-02 06:33] sachit-singh commented on #136
Dear jahnvidave,

The registration agency has been added.

[2018-05-02 06:33] #136 closed, assigned to sachit-singh

[2018-05-08 15:21] jahnvidave commented on #136
Hi Sachit-Singh,

Thank you for adding the registration agency (RW-RGB).

However, it is not appearing on Aidstream in the list for 'Organisation Registration Agency', for Rwanda.

![image](https://user-images.githubusercontent.com/38503709/39765919-e27e29cc-52da-11e8-8ac3-f0b926b8aacb.png)

This is on Aidstream Lite, but I have also tried on Aidstream Core. Rwanda Governance Board (RGB) is not ap

[2018-05-08 17:11] sachit-singh commented on #136
Dear Jahnvi,

It seems the deployed tag hadn't been updated successfully. It has been resolved now. I apologize for the inconvenience and appreciate your understanding.

Sachit

[2018-05-09 14:04] jahnvidave commented on #136
Hi Sachit,

Thank you for resolving this. It is now appearing in both Aidstream Lite and Core.

Jahnvi

[2018-05-15 03:47] deepakt3 commented on #121
Dear Sachit ji,

Namaste !

We need to change the contact person details in IATI published file. Could you kindly support me to change the contact person's details in IATI published file .

Hope to get support from you as earlier.

With best regards,

Deepak

DEEPAK THAPA
Funds Management Officer  |  Funding Management Team
[http://www.umn.org.np/umn_signature/email-icon.png] deepak.thapa@umn.org.

[2018-05-15 05:25] sachit-singh commented on #121
Dear Deepak Ji,

Namaste ! Do you mean changing the Contact Information for the Activity XI-IATI-1002-SLD ? If so, you would need to go to the activity details page, and on the right hand side menu, you should be able to see a Contact Info label. Clicking on that will take you to the Contact Info form, where you would need to make the necessary changes and click 'Save'. After that the activity wou

[2018-05-15 10:06] amy-silcock opened #137 "Invalid xml"
Hi,

Irise International's activity file is not valid xml.

We've had a look and notice that it contains illegal '&'s in the descriptions. This has been picked up by our pyIATI validation tests. Not sure if there are other errors.

Their data isn't been correctly pulled through to the IATI previewer and d-portal.

Please could you take a look.

[2018-05-23 05:27] anjesh opened #138 "Contact Information are not imported during CSV Activities Import"
The following fields are not imported when using the template containing contact information

For example [other_fields_transaction.txt](https://github.com/younginnovations/aidstream/files/2029624/other_fields_transaction.txt) doesn't import the contact info into Aidstream

[code]

[2018-05-31 04:38] anjesh opened #139 "Error during results upload"
## what

- [ ] fix error during results upload

## why

Few users have reported that when they import results as per template defined in Aidstream, they get the following error

![image](https://user-images.githubusercontent.com/120488/40761678-6743ba58-64bc-11e8-807d-df945fd5c44f.png)

The template looks ok. Here's an
[example csv](https://github.com/younginnovations/aidstream/files/2056621/resul

[2018-06-01 04:02] anjesh opened #140 "CSV uploads with curly quotes gives errors"
## What

- [x] convert curly quotes to straight quotes for both single and double quotes in all the activities csv upload
- [x] convert curly quotes to straight quotes for both single and double quotes in all the transactions csv upload
- [x] convert curly quotes to straight quotes for both single and double quotes in all the results csv upload

## Why

When the CSV file contains curly quotes, the

[2018-06-04 07:57] manibibek commented on #139
The file is not in the correct CSV format hence it's not supported

[2018-06-04 07:57] #139 closed, assigned to manibibek

[2018-06-04 09:09] anjesh commented on #139
@manibibek could you upload the same file with correct format? Also mention which columns are incorrectly used.

[2018-06-04 09:12] manibibek commented on #139
@anjesh i copy pasted whole data from excel to a new excel file and saved the file as csv. It worked. The previous file did not have any comma's in between the rows

[2018-06-04 10:02] anjesh commented on #139
I don't understand, i see commas in the above attached file

![image](https://user-images.githubusercontent.com/120488/40911459-85f3bde0-680e-11e8-8c4b-ea75b4640167.png)

[2018-06-06 11:28] jahnvidave opened #141 "Org files not re-publishing with corrections"
Hi Aidstream,

Two organisations (BRAC and Raleigh International) have been unable to re-publish their Organisation file, after having corrected their IATI Org ID in Aidstream.

Their Activity files re-publish to the IATI Registry with the correct identifier. But the Org file is still showing the wrong identifier.

When we try to re-publish the Org file, by clicking 'Publish Organisation to IATI',

[2018-06-06 15:06] jahnvidave opened #142 "Registration Agencies: IT-CF and IT-RI"
Hi Aidstream,

Please can these 2 Registration Agencies in Italy be added to Aidstream?

IT-CF
http://org-id.guide/list/IT-CF

IT-RI
http://org-id.guide/list/IT-RI

Thank you,
Jahnvi

[2018-06-07 05:16] manibibek commented on #140
For now, i have encoded the content of the csv file to UTF-8 standard which shows the curly quotes as "?" as shown in the screenshot. This allows the file to be imported correctly for now
<img width="1218" alt="screen shot 2018-06-07 at 10 57 36 am" src="https://user-images.githubusercontent.com/18477559/41079590-1b53099c-6a42-11e8-9bc5-c3c35cb4adbf.png">

[2018-06-07 09:47] amy-silcock opened #143 "Somalia Registration SO-MPND"
Hi,

Please can the following registration agency be added: http://org-id.guide/list/SO-MPND
Thank you,

Amy

[2018-06-08 09:25] manibibek commented on #142
The Agencies IT-CF and IT-RI has been added.
Thank you

[2018-06-08 09:25] manibibek commented on #143
The Agency has been added.
Thank you

[2018-06-08 09:39] amy-silcock commented on #143
Thanks!

[2018-06-08 09:39] #143 closed, assigned to manibibek

[2018-06-08 12:09] jahnvidave commented on #142
Thank you!

[2018-06-08 12:09] #142 closed, assigned to manibibek

[2018-06-08 13:58] jahnvidave commented on #141
This has now arisen for a third organisation (INTERSOS Onlus).

[2018-06-11 05:26] anjesh commented on #141
@jahnvidave currently when you update the reporting-org-identifier, it doesn't get reflected in the org-xml-file directly. You have to republish. One temporary way is to add a dummy element and delete that element and do the republishing. I tried with both BRAC and Raleigh International, and their correct identifiers are now showing in XML files. https://aidstream.org/files/xml/raleigh_int-org.xml

[2018-06-11 05:26] #141 closed, assigned to nobody

[2018-06-11 10:29] jahnvidave commented on #141
Thank you Anjesh for your response and for republishing the org files for BRAC and Raleigh International.

I have now done the same for INTERSOS, which has worked.

That sounds like a brilliant idea, to have a feature that would allow users to change their organisation to draft, as we often face this issue of needing them to republish their file.

Thanks again.
Jahnvi

[2018-06-12 05:44] manibibek commented on #138
@anjesh The issue has been fixed and deployed to production

[2018-06-13 06:08] anjesh opened #144 "Problem with participating-organisation selection in IE"
- [x] Fix the participating-orgnaisation selection issues in IE

Few users have issues in selecting participating-organisations in aidstream and most of the cases seem to be related to the use of Internet Explorer (IE) browser. The selection is working well in chrome and firefox.

[2018-06-14 08:37] anjesh opened #145 "Results CSV import shouldn't be case-sensitive for language codelist"
When Results CSV contains EN as language, we get the error "Invalid Language". This shouldn't be the case, all the language codes should be case-insensitive during csv imports.

[result.txt](https://github.com/younginnovations/aidstream/files/2101470/result.txt)
![image](https://user-images.githubusercontent.com/120488/41400875-053e2b7c-6fde-11e8-86c2-68249bd47ff0.png)

gives the following error

[2018-06-14 08:40] anjesh commented on #138
contact information are imported now.

[2018-06-14 08:40] #138 closed, assigned to manibibek

[2018-06-15 09:34] manibibek commented on #145
@anjesh the bug has been fixed and deployed to production

[2018-06-18 04:59] anjesh opened #146 "Disable publishing of partners organisations information."
What
====

- [x] publishing workflow for the partners organisation is hidden and disabled (hence it shouldn't show the workflow state like draft, completed as can be seen below)
- [x] partner organisation is not clickable and data is not possible to enter (currently you can click the organisation and see the details and add further information)

![image](https://user-images.githubusercontent.com/1

[2018-06-18 04:59] anjesh commented on #134
Will be taken care of here https://github.com/younginnovations/aidstream/issues/146

[2018-06-18 04:59] #134 closed, assigned to nobody

[2018-06-18 05:11] anjesh opened #147 "Enable IATI Standard V2.03 Backlog"
What
====

- [x] Form updates for V2.03
- [x] Publishing workflow updates
- [x] XML Import feature to V2.03
- [x] Updates CSV imports for V2.03
   - [x] [activities import](https://github.com/younginnovations/aidstream/issues/156)
   - [x] [transactions import](https://github.com/younginnovations/aidstream/issues/155)
   - [x] results import
- [x] Upgrade link from V2.02
- [x] Database changes for

[2018-06-18 08:13] anjesh commented on #145
works now.

[2018-06-18 08:13] #145 closed, assigned to nobody

[2018-06-18 10:47] manibibek commented on #146
@anjesh the changes has been pushed to production

[2018-06-25 10:56] kelbayar commented on #135
I've been going crazy with this same issue. Was this ever resolved?

[2018-06-25 11:22] amy-silcock commented on #135
Hi @kelbayar,

I've just had a look and you have an org file published on the IATI Registry: https://www.iatiregistry.org/publisher/cadtm

And it's saying published in AidStream:
![image](https://user-images.githubusercontent.com/27764077/41847602-6be920c4-7872-11e8-9eeb-68d036223fe8.png)

So I'm guessing the answer is yes!

[2018-06-25 14:12] kelbayar commented on #135
Hi Amy -- glad that they got it solved, but I am having the same issue with my organization (sorry for not being more clear). See screen shot below. I wonder how the Comite solved their bug? Do you have any ideas?
![1](https://user-images.githubusercontent.com/29731712/41855269-315da9fa-7860-11e8-8eab-a978a69482f7.jpg)

[2018-06-26 12:32] anjesh commented on #135
@kelbayar @amy-silcock these are temporarily fixed for now. We will look into the issue in details.

[2018-07-03 09:32] anjesh opened #148 "Document-link issue for Farm Africa"
- [x] fix document-link issue for Farm Africa

---
Notes:

Clicking document-link for Farm Africa gives the following screen

![image](https://user-images.githubusercontent.com/120488/42211673-db7b1408-7ed3-11e8-8ef7-c79128a0c14d.png)

The log shows the following error

`
Next ErrorException: htmlentities() expects parameter 1 to be string, array given (View: /resources/views/Activity/documentLink

[2018-07-03 10:35] anjesh opened #149 "Uploaded CSV text auto lowercased after import"
- [x] text (other than lang) should be as per in the file in all the csv import module (results, transactions)

## Notes

---

When the followings results csv is imported into the system,

![image](https://user-images.githubusercontent.com/120488/42214968-ca1d5f6e-7edc-11e8-8a80-02d4269ce07e.png)

it is shown in upper case in the import screen.
![image](https://user-images.githubusercontent.com/12

[2018-07-04 05:02] anjesh opened #150 "Allow participating-org-type=90 in Activity CSV Import"
- [ ] Activity CSV import should allow `Participating Organisation Type=90`

## Notes

Using `Participating Organisation Type=90` in Activity Import CSV Template gives error

[code]

http://iatistandard.org/202/codelists/OrganisationType/ has `90` as `Other`

[2018-07-04 05:14] anjesh commented on #150
Ignore this issue - looks like data http://iatistandard.org/202/codelists/OrganisationType/ is showing codelist of 2.03 instead of 2.02. https://github.com/IATI/IATI-Codelists-NonEmbedded/commit/096857a6dbffb196bbd700385c7b05bfde7cf0c6#diff-5ee7a365afc039a009c9e8ec5034e01e shows that Other is added in V2.03

[2018-07-04 05:14] #150 closed, assigned to manibibek

[2018-07-06 16:03] jahnvidave opened #151 "Registration Agency: KE-KRA"
Hi Aidstream,

Please can the Registration Agency KE-KRA be added to Aidstream?
http://org-id.guide/list/KE-KRA

Thank you,
Jahnvi

[2018-07-09 11:25] manibibek commented on #147
@anjesh V2.03 has been deployed to staging server

[2018-07-10 08:12] manibibek commented on #151
@jahnvidave the Registration Agency KE-KRA has been added

Thank you

[2018-07-10 09:49] jahnvidave commented on #151
Thank you!

[2018-07-10 09:49] #151 closed, assigned to manibibek

[2018-07-10 12:04] manibibek commented on #148
@anjesh this issue has been fixed, there was slight format error in the saved json data

[2018-07-11 04:43] manibibek commented on #149
@anjesh this issue is fixed now

[2018-07-11 10:31] #148 closed, assigned to manibibek

[2018-07-11 10:32] #149 closed, assigned to manibibek

[2018-07-11 10:33] anjesh commented on #140
This works for now. Great. Users will fix in the data in case of such characters.

[2018-07-11 10:33] #140 closed, assigned to manibibek

[2018-07-11 10:43] anjesh opened #152 "UX change in Participating-organisation interface"
- [x] update the UX of Participating-org interface as shown below. The user has to select the checkbox saying "I have org registration number of this organisation", then only there will be option to select the "list of organisation" and input box to enter the org-identifier.

## Why

Currently the user has to select one of the list before being able to add the organisation, she mightn't have any c

[2018-07-13 14:53] jahnvidave opened #154 "Registration Agency: CR-RPJ"
Hi Aidstream,

Please can the Registration Agency CR-RPJ be added to Aidstream?

This is for the Registro de Personas Jurídicas (Costa Rica). As discussed here: https://github.com/org-id/register/issues/235.

Thanks,
Jahnvi

[2018-07-17 07:51] anjesh opened #155 "V2.03 Transactions CSV import feature changes"
- [x] [organisation-type](http://reference.iatistandard.org/203/codelists/OrganisationType/) for both provider and receiver org should be validated against new [codelist](http://reference.iatistandard.org/203/codelists/OrganisationType/) (in both **simple** and **detailed** templates)
- [x] [transaction-type](http://reference.iatistandard.org/203/codelists/TransactionType/) should be validated aga

[2018-07-17 08:01] manibibek commented on #144
This issue has been fixed

[2018-07-17 08:01] #144 closed, assigned to nobody

[2018-07-17 08:02] manibibek commented on #152
@anjesh the changes has been deployed

[2018-07-17 08:15] anjesh opened #156 "V2.03 Activities CSV import feature changes"
There won't be any changes in the CSV template for V2.03 except for validations. We will not add any new elements to the CSV to avoid confusions. The existing template will work for V2.03 but with new set of validations for few elements.

- [x] `Transaction Type` [validation](http://reference.iatistandard.org/203/codelists/TransactionType/) in templates 2,4
- [x] `Participating Organisation Type`

[2018-07-18 03:54] anjesh opened #157 "V2.03 Results CSV import feature changes"
- [x] update template for V2.03 as shown below
- [x] baseline should be multiple occuring (explained below

## Notes

The fields (shown below) are to be added for V2.03 CSV template for Results.
Besides there needs to have couple of changes in the CSV processing. Currently there could be multiple periods for the single result row, and all these sub-elements will be associated with the result.

For

[2018-07-18 04:55] manibibek commented on #154
@jahnvidave Registration Agency CR-RPJ has been added

[2018-07-18 04:56] #154 closed, assigned to manibibek

[2018-07-18 11:07] amy-silcock opened #159 "Registration Agency: IL-RA"
Hi Aidstream,

Please can the Registration Agency IL-RA be added to Aidstream?

This is for the Rasham Ha'amutot . As discussed here:https://github.com/org-id/register/issues/237#issuecomment-405844584 and will be shortly added to Org ID.

Thanks,

Amy

[2018-07-18 14:03] jahnvidave opened #160 "Registration Agency: JO-MSD"
Hi Aidstream,

Please can the Registration Agency JO-MSD be added to Aidstream?

This is for the Register of Associations, Jordan - http://org-id.guide/list/JO-MSD.

Thank you,
Jahnvi

[2018-07-19 14:27] amy-silcock commented on #159
Hi all, any chance this could be added today?

[2018-07-20 11:47] manibibek commented on #160
Registration Agency JO-MSD has been added.

Thank you

[2018-07-20 11:47] #160 closed, assigned to nobody

[2018-07-20 11:47] manibibek commented on #159
Registration Agency IL-RA has been added

Thank you

[2018-07-20 11:47] #159 closed, assigned to manibibek

[2018-07-20 11:51] #152 closed, assigned to bhojport

[2018-07-20 13:04] amy-silcock commented on #159
Thank you

[2018-07-20 13:38] jahnvidave commented on #160
That is great. Thank you!

[2018-07-27 10:59] jahnvidave opened #161 "Registration Agency: TZ-NNCB"
Hi Aidstream,

Please can the Registration Agency TZ-NNCB be added to Aidstream?

This is for the Tanzania National NGO Coordination Board - http://org-id.guide/list/TZ-NNCB.

Thank you,
Jahnvi

[2018-07-27 11:31] anjesh opened #162 "Activities doesn't sort by date"
- [x] Fix activities sort by date

---

Currently the activity sort by date doesn't work. It sorts by the alphabets rather than date.

![image](https://user-images.githubusercontent.com/120488/43318467-9e9edc7c-91c0-11e8-936e-28b6a502bbd8.png)

[2018-07-27 12:46] manibibek commented on #161
The Registration Agency TZ-NNCB has been added.

Thank you

[2018-07-27 12:46] #161 closed, assigned to nobody

[2018-07-27 13:04] jahnvidave commented on #161
Thank you!

[2018-07-30 07:32] manibibek commented on #162
@anjesh this issue has been fixed.

[2018-07-30 07:32] #162 closed, assigned to nobody

[2018-08-07 10:22] jahnvidave opened #163 "Registration Agency: XI-GRID"
Hi Aidstream,

Please can the Registration Agency XI-GRID be added to Aidstream?

This is for the Global Research Identifiers Database - http://org-id.guide/list/XI-GRID.

Thank you,
Jahnvi

[2018-08-08 04:56] manibibek commented on #163
@jahnvidave The Registration Agency XI-GRID has been added

Thank you

[2018-08-08 04:56] #163 closed, assigned to nobody

[2018-08-15 05:34] anjesh opened #164 "Error during "mark as complete" action"
- [x] fix error in "Mark as Complete" action

When you click https://aidstream.org/activity/18843 for "International Rescue Committee Inc.", it gives "Something went wrong." with the log "Exception: String could not be parsed as XML".

[2018-08-15 08:33] manibibek commented on #164
@anjesh on checking, i found an invalid character in one of the transaction shown below.
<narrative>\u10 International Rescue Committee Inc.</narrative>

For Now I have removed that character and the status is changing successfully.

[2018-08-16 11:05] anjesh opened #165 "Issues in AidStream lite version for Acumen"
- [x] activity published to IATI is shown as "Published in IATI"
- [x] Provider Organisation is properly mapped

### notes

#### 1
https://aidstream.org/who-is-using/US-EIN-134166228/21118 is shown as "Not Published in IATI" whereas https://aidstream.org/files/xml/acumen-activities.xml is published in [Registry](https://iatiregistry.org/publisher/acumen).

#### 2
It looks like "Provider Organisati

[2018-08-17 08:48] anjesh opened #166 "Unknown error importing XML file"
- [x] issues with the following XML is identified
- [x] proper error reporting if the XML is not correct

The following XML doesn't get imported in the system when trying to upload. It doesn't give any error except that there's problem with XML and the message disappear.

[IATIFile_Bangladesh.txt](https://github.com/younginnovations/aidstream/files/2296568/IATIFile_Bangladesh.txt)

[2018-08-17 08:55] anjesh opened #167 "Issue with participating organisation addition."
- [x] the issue with PO addition is identified
- [x] the user is able to click "User this organisation" button

### Note

Few users have reported that they can't move forward in "participating organisation". They complained that they can't click "Use this organisation button".

![image](https://user-images.githubusercontent.com/120488/44257129-cf986f80-a22a-11e8-84bb-48eb84352b73.png)

Some users

[2018-08-21 08:35] manibibek commented on #166
The import was successful when we removed the "<ir:registry.." tag in line number 3 from the above file.
For now, the file can be imported by removing that tag.

We are also working on how we can show proper information for such kind of errors.

[2018-08-21 12:15] anjesh commented on #167
It appears that the issue is with add-new-organisation page from organisation-list page.

![image](https://user-images.githubusercontent.com/120488/44400705-e52fd100-a56b-11e8-9f30-9caf4ada5759.png)

![image](https://user-images.githubusercontent.com/120488/44400744-04c6f980-a56c-11e8-82b7-1f6487efb8be.png)

we get the following js error
[code]

[2018-08-22 08:02] manibibek commented on #167
@anjesh The issue has been fixed

[2018-08-23 11:06] manibibek commented on #166
The XML import issue has been fixed in https://github.com/younginnovations/aidstream/commit/1917421e8afc931133caeb9e37e098620d6f1b10

[2018-08-23 11:26] anjesh commented on #166
Great. Error is showing for such XML with non-standard elements.

![image](https://user-images.githubusercontent.com/120488/44522826-85fec780-a6f7-11e8-8f4a-987bf84f1420.png)

[2018-08-23 11:26] #166 closed, assigned to manibibek

[2018-08-27 05:06] anjesh commented on #167
Also i just found that i can't click on the org if found in the list @bhojport

![image](https://user-images.githubusercontent.com/120488/44641559-2a7a5580-a9e7-11e8-9a18-21cf051d58ee.png)

[2018-08-27 08:58] anjesh opened #170 "Aidstream UI minor fixes"
#### Results
- [x] edit and delete icons (with link) are shown for each result data in activity-view page
- [x] show edit and delete icons (with link) are shown in each result view page
- [x] "Activity view" link is shown in result edit/view page
- [x] replace current edit icon in activity-view page for results block with "list" icon

#### Transactions
- [x] edit and delete icons (with link) are s

[2018-08-27 09:01] anjesh opened #171 "Participating-organisation search should be fast"
- [ ] participating-organisation search is fast

#### Note

When we search the organisation in the dropdown, it takes 2-3 seconds before the results appear as shown below. We need to use cache or some other mechanisms to ensure that results are shown quickly within a second.

![image](https://user-images.githubusercontent.com/120488/44650967-c2883700-aa07-11e8-8c63-cc8483bd31bb.png)

cc @manibibek

[2018-08-27 09:04] anjesh opened #172 "Improve user experience for queue processes"
- queues are responsive and fast in the followings import
  - [ ] activity CSV importer
  - [ ] transactions importer
  - [ ] results importer
  - [ ] activity XML importer
- [ ] "how to use/run queue" is documented in `readme.md`

#### NOTE

when you upload the CSV or XML for import, it goes to the background queue and the script reads from the queue-outputs and the result is shown. The responses

[2018-08-27 09:26] anjesh opened #174 "Update Registration process to include data from org-id.guide"
- [x] Registration page uses data from org-id.guide in "Organisation Registration Agency" list
- [x] "Add Agency" link is removed now
![image](https://user-images.githubusercontent.com/120488/44652258-2eb86a00-aa0b-11e8-89c6-5706a773120f.png)
- [x] Settings page https://aidstream.org/settings uses org-id.guide data
- [x] A script is developed that pulls the json data from the org-id.guide and stor

[2018-08-31 10:43] jahnvidave opened #175 "Registration Agency: PK-SEC"
Hi Aidstream,

Please can the Registration Agency PK-SEC be added to Aidstream?

This is for the Securities and Exchange Commission of Pakistan - http://org-id.guide/list/PK-SEC.

Thank you,
Jahnvi

[2018-09-03 10:02] manibibek commented on #175
Hi Jahnvidave,

The Registration Agency has been added to Aidstream.

Thank you

[2018-09-03 10:02] #175 closed, assigned to nobody

[2018-09-04 08:54] #167 closed, assigned to manibibek, bhojport

[2018-09-06 04:08] anjesh commented on #147
Need to do changes in the text and add one more page and we should be good.

### Upgrade page

![image](https://user-images.githubusercontent.com/120488/45133739-91052d80-b1b6-11e8-967d-135f4d901c7b.png)

Show the following information instead of above line.

### After Upgrade

Currently we see this after clicking "continue"

![image](https://user-images.githubusercontent.com/120488/45133892-78e1d

[2018-09-06 05:06] anjesh commented on #126
resolved.

[2018-09-06 05:06] #126 closed, assigned to nobody

[2018-09-25 11:37] jahnvidave opened #177 "Registration Agency: LK-DRC and LK-NGO"
Hi Aidstream,

Please can these two registration agencies be added to Aidstream?
- LK-DRC
for Department of the Registrar of Companies (Sri Lanka) - https://github.com/org-id/register/pull/274
- LK-NGO
for Sri Lanka - National Secretariat for Non-Governmental Organisations - https://github.com/org-id/register/pull/272

Thank you,
Jahnvi

[2018-10-02 11:06] anjesh opened #178 "Result element related issues"
- [x] `result > indicator > baseline > year` attribute must be **required** as per IATI Standard
  - Currently year attribute is required only on input of value attribute
- [x] `result > indicator > baseline > value` attribute must be **required** as per IATI Standard
  - Currently year attribute is required only on input of date attribute
- [x] `result > indicator > period > period-start` attribu

[2018-10-03 03:58] 77karuna opened #179 "Transaction element related issues"
- [x] `transaction > transaction-date` attribute **must not** be in the future.
- [x] `transaction > value > value-date` attribute **must not** be in the future.
- [x] `transaction > value` attribute
  - How many decimal points to be allowed for entry?
  - How many decimal points to be shown in list?
 - [x] `transaction > sector`
Multiple sector can't be deleted.

[2018-10-03 04:32] 77karuna opened #180 "Planned Disbursement element related issues"
- [x] `planned-disbursement > value` attribute should display actual values in decimal point in preview.
  - Currently, decimal points are rounded up.
- [x] `planned-disbursement > provider-org > ref`
`planned-disbursement > receiver-org > ref`
- [x] `planned-disbursement > provider-org > type`
`planned-disbursement > receiver-org > type`
value **must** be on the OrganisationType codelist
  - Need

[2018-10-03 05:28] 77karuna opened #181 "Recipient Country and Recipient Region elements related issues"
- [x] `recipient-country > percentage` attribute and `recipient-region > percentage` attribute are not required  when single recipient-country or recipient-region are specified.
Multiple countries and regions can be reported, in which case the percentage attribute MUST be used to specify the share of total commitments across all reported countries and regions.
`<recipient-country code="AF" />` Thi

[2018-10-03 06:07] 77karuna opened #182 "Location element related issues"
- [x] All following attributes are **required**
  - `location > location-reach > code`
  - `location > location-id > code`
  - `location > location-id > vocabulary`
  - `location > administrative > code`
  - `location > administrative > vocabulary`
  - `location > exactness`
  - `location > location-class > code`
  - `location > feature-designation > code`

[2018-10-03 07:53] 77karuna opened #183 "Sector element related issues"
- [ ] `sector > narrative` element
Publishers using vocabularies 98 or 99 must also include a narrative in the narrative element.
Currently, this narrative element is not required for 98, 99 sectore vocabularies

[2018-10-03 09:39] andylolz opened #184 "404 page responds with status code 200"
E.g. https://aidstream.org/404 looks like this:

![screen shot 2018-10-03 at 10 38 32](https://user-images.githubusercontent.com/464193/46402752-8d52c100-c6f8-11e8-8e24-e9d19995934b.png)

I’d instead expect a status code of 404.

[2018-10-03 11:44] 77karuna opened #185 "Result element related issues"
- [x] `result > document-link`
The optional attribute @document-link was added.
Currently, this attribute is missing in form.
- [x] `result > reference >  vocabulary` attribute
This value must be on the ResultVocabulary codelist, which currently includes only 1 code (99).
Currently, multiple codes available in dropdown.
- [x] `result > indicator > aggregation-status`
The optional attribute @aggreg

[2018-10-04 11:12] 77karuna opened #186 "Aid-type related issues"
- [x] `aid-type > vocabulary` element
_Each selected vocabulary should only be used once for each activity_
Currently, multiple entry of same vocabulary is possible.

- [x] `aid-type > vocabulary` + `aid-type > code` element
_The @code attribute declares a valid code from the specified codelist._
Vocabulary

1. 1 OECD/DAC -> Common aid typology
   - Code: A01 , A02 , ...
     - Ref: http://referen

[2018-10-17 09:49] wendyrogers commented on #67
Hi Aidstream team just updating this issue with regard to potentially having the humanitarian flag moved from within the activity defaults to perhaps next to the activity 'Title' to make it much more prominent for users to set if appropriate. Many organisations are publishing a mix of both humanitarian and development activities and as part of the Grand Bargain we are trying to get publishers to u

[2018-10-17 09:52] wendyrogers commented on #147
Hi Aidstream team when will publishing or upgrading to V2.03 be made available to users? I don't appear to have that facility within Aidstream at the moment?

[2018-10-24 05:32] 77karuna opened #188 "V2.03 Miscellaneous Elements Issues"
- [x] `Participating-org > crs-channel-code`
  Add channel codes in front of channel code names.
  e.g. 10000 | PUBLIC SECTOR INSTITUTIONS
- [x] `Transaction > transaction-type`
  Update Transaction type codes as follows:
  1. _2 - Commitment_ ==> **2 - Outgoing Commitment**
  2. _5 - Interest Repayment_ ==> **5 - Interest Payment**
- [x] `Tag > narrative`
  Narratives are not required elements.
-

[2018-10-24 08:03] rupakhetianjana commented on #179
- [x] `transaction`
Inside the transaction element, the filter should be added in transaction type and transaction date.

[2018-10-25 11:06] jahnvidave opened #189 "Amending 'activity-identifier' for Mastercard Foundation"
Hi AidStream,

Mastercard Foundation's IATI Organisation Identifier is currently incorrect on the IATI Registry and in their AidStream account.

It should be: CA-CRA_ACR-817387277

Mastercard have over 400 activities currently on AidStream, that are not yet published.

Once the IATI Org ID is corrected in the AidStream settings, the 'reporting-org' identifier will be automatically updated in the a

[2018-10-25 14:46] jahnvidave opened #190 "Registration Agency: IQ-NGO"
Hi Aidstream,

Please can the Registration Agency IQ-NGO be added to Aidstream?

This is for the NGO Directorate (Republic of Iraq) - http://org-id.guide/list/IQ-NGO.

Thank you,
Jahnvi

[2018-10-29 11:02] manibibek commented on #190
Hi Jahnvidave,

The Registration agency has been added to Aidstream.

Thank you

[2018-10-29 11:02] #190 closed, assigned to nobody

[2018-11-01 04:20] rupakhetianjana opened #191 "Registration page related issue"
![capture](https://user-images.githubusercontent.com/42827731/47832271-95b41f80-ddbc-11e8-9ac3-c7c1ef2ac4dd.PNG)
 - [ ]  Dots should be allowed in the registration Number of an organization.

[2018-11-01 10:07] jahnvidave opened #192 "Registration Agency: NE-DGI"
Hi Aidstream,

Please can the Registration Agency NE-DGI be added to Aidstream?

This is for the Tax Directorate (Niger) - https://github.com/org-id/register/pull/291

Thank you,
Jahnvi

[2018-11-02 05:03] manibibek commented on #192
Hi Jahnvidave,

The Registration Agency NE-DGI has been added to Aidstream.

Thank you

[2018-11-02 05:03] #192 closed, assigned to nobody

[2018-11-07 11:41] jahnvidave opened #193 "Changing 'Publisher ID' for IFDC"
Hi AidStream,

Following conversations with the IATI technical team, [IFDC](https://iatiregistry.org/publisher/ifdc-us) have changed their Publisher ID on the IATI Registry, (to better reflect their organisation as a whole, rather than a particular project).

We have tried changing their Publisher ID in the Publishing Settings of their AidStream account. However, this has been unsuccessful.

We re

[2018-11-09 16:09] jahnvidave commented on #189
Hi AidStream,

Has there been any progress with looking into this?

Mastercard Foundation are hoping to publish their activities soon, but their identifiers will need to be correct before they can do so.

Many thanks, Jahnvi

[2018-11-16 04:36] 77karuna opened #194 "Issue with adding Partner Organisation"
- Issue faced while adding `Partner Organistion` from `Organisation List`

- [x] While searching if user hits enter button, results in Resource not found error.

- [x] If we click save button, results in Resource not found error temporarily with redirection to organisation list, although it is saved properly.

- Issue faced while adding `Participating Organization`.

- [x] Smooth typing of organiz

[2018-11-19 12:29] jahnvidave opened #195 "Registration Agency: SE-ON"
Hi Mani Bibek,

It was great to meet you and the YoungInnovations team at the TAG last week!

Please can the Registration Agency SE-ON be added to Aidstream?

This is for the Business Registration Number, Sweden - http://org-id.guide/list/SE-ON

Thank you,
Jahnvi

[2018-11-20 04:18] manibibek commented on #195
Hi Jahnvi Dave,

It was indeed a great moment meeting you and the IATI Team at TAG.

The Registration Agency SE-ON has been added to Aidstream.

Thank you

[2018-11-20 04:18] #195 closed, assigned to nobody

[2018-11-20 16:57] jahnvidave commented on #195
Thank you!

[2018-11-23 11:48] jacqkodden opened #196 "file deleted"
I was entering information in aidstream and by accident I deleted a whole file from an organisation we do business with. Is it possible to restore the file? There's data in this file from years. File name is Down to Zero Programme DCI-ECPAT NL - Thailand.

Like to hear from you.

Kind regards
Sabina

[2018-11-26 07:47] #182 closed, assigned to nobody

[2018-11-26 07:49] #191 closed, assigned to nobody

[2018-11-28 08:16] nirazanbasnet opened #197 "Landing page UI"

[2018-12-04 09:07] nirazanbasnet opened #199 "Aidstream Nepal Muncipality Landing UI"

[2018-12-06 09:12] nirazanbasnet opened #201 "AidStream Nepal Municipality Dashboard UI"

[2018-12-07 05:45] nirazanbasnet opened #203 "Municipality landing page content to add"

[2018-12-10 07:44] nirazanbasnet opened #205 "Municipality Dashboard Pie Charts UI"

[2018-12-11 07:32] #205 closed, assigned to nirazanbasnet

[2018-12-11 07:32] #197 closed, assigned to nobody

[2018-12-11 07:32] #199 closed, assigned to nirazanbasnet

[2018-12-11 07:32] #201 closed, assigned to nirazanbasnet

[2018-12-11 07:32] #203 closed, assigned to nirazanbasnet

[2018-12-11 07:35] nirazanbasnet opened #207 "Aidstream Nepal content changes UI"

[2018-12-12 06:04] rupakhetianjana opened #209 "Missing Import Activity XML Feature in Version 2.03"
- [ ] **Import Activity XML** Feature is missing in Version 2.03.

[2018-12-19 08:01] #185 closed, assigned to nobody

[2018-12-21 08:25] manibibek commented on #188
The Issues has been fixed

[2018-12-21 08:25] #188 closed, assigned to nobody

[2018-12-21 14:58] jahnvidave opened #211 "Unable to upgrade from Lite to Core"
Hi AidStream,

Danmission are unable to move their AidStream account from Lite to Core. This is preventing them from including the data required by their donor.

When clicking on their profile picture, they do not get the option to move to Core:
![image](https://user-images.githubusercontent.com/38503709/50348456-b123e700-0530-11e9-8cc6-37d3b8f01498.png)

Please can you have a look into this, and

[2018-12-24 08:30] manibibek commented on #186
This issue has been fixed

[2018-12-24 08:30] #186 closed, assigned to nobody

[2018-12-25 07:55] manibibek opened #212 "V2.03 XML Importer"

[2018-12-25 09:55] manibibek commented on #211
Hi Jahnvidave,

AidStream can be upgraded from Lite to Core from the Settings page.

<img width="484" alt="screen shot 2018-12-25 at 3 39 09 pm" src="https://user-images.githubusercontent.com/18477559/50419878-5a354f00-085b-11e9-8c80-76a9284bdc94.png">

Thank you

[2019-01-02 09:03] rupakhetianjana opened #213 "Issue in Participating Organization Repository"
- [x] International Development Law Organization is missing in participating organization repository and not being able to add in with correct information.
- International Development Law Organization (IDLO)
Country Based: ITALY
Organization Type: Multilateral
Organization Identifier : XM-DAC-47059

[2019-01-02 14:51] amy-silcock opened #214 "2.03 upgrade bug?"
Hi guys,

Your 2.03 AidStream is looking good! Great to have this released.

I'm trialing it on my test account and can't save existing activities due to an error with the Default Aid Type. I can't work out why this error is occurring.

My test account is:
![image](https://user-images.githubusercontent.com/27764077/50596995-cb00ea80-0e9d-11e9-8954-c27b7607c4cc.png)

Could you please take a look yo

[2019-01-04 08:03] manibibek commented on #214
Hi Amy,

On checking, I found that the issue occurred only for Activities which was Imported from XML file in version 2.02 and then the system was upgraded to 2.03.

We have fixed the issue and now you can save the Activity.

Thank you for letting us know about the issue.

[2019-01-04 08:03] #214 closed, assigned to nobody

[2019-01-04 12:30] PetyaKangalova commented on #211
@manibibek  Thanks, however, it seems that there is a bug. I can also switch back to Core but as you can see from Karen's screenshot above she does not have that option. I copied you in my last email to her. Could you look into this?

[2019-01-08 10:35] rupakhetianjana opened #215 "Secondary Email Related Issue"
- [x] Organization name in the support email related to `secondary email` changes/update require one's organization name. (Email being generated from support is taking 1st name of partner organization from the list instead of one's organization if update/change is done in the secondary email.)
- [x] Make secondary email optional.

[2019-01-08 11:12] rupakhetianjana commented on #211
@jahnvidave @PetyaKangalova

To move AidStream account from Lite to Core, please find the help from image provided herewith. Since, normal user has only option to upgrade their organization through setting page instead of profile, below attached image has been taken from danmission's Organization setting page as a reference.

- Click into the blue circle area `Upgrade AidStream` as shown in the pi

[2019-01-08 13:22] amy-silcock opened #216 "Reporting Org issue"
Hi,

I think this issue has been around for while but I'm now not sure how to fix it manually.

International Alert publish 145 activities through Aid Stream. Of which 32 older ones have an incorrect reporting org. As this was changed once the activities have been published.

If you re-save the activity, and take the status back through to 'published' the incorrect reporting org remains. The IATI

[2019-01-08 16:51] amy-silcock opened #217 "2.03 - something went wrong?"
Hi,

Friends of the Earth are getting an error message when trying to update their data. It's the 'something went wrong message'. They're trying to move 1.03 data to 2.03.

![image](https://user-images.githubusercontent.com/27764077/50845789-a0afa100-1365-11e9-88b2-0da8629eb0c2.png)

Please can you look into this asap.

[2019-01-09 12:06] PetyaKangalova commented on #211
Thanks @Rupakheti ! Karen confirmed that she has managed to upgrade so closing this issue. Thanks again.

[2019-01-09 12:06] #211 closed, assigned to nobody

[2019-01-10 17:12] jahnvidave opened #218 "Updating Activity Status Codelist"
Hi AidStream,

After discussions on [IATI Discuss](https://discuss.iatistandard.org/t/implemented-as-bug-fix-activitystatus-codes-mixup-of-descriptions-for-codes-3-4/304/65), it was decided that the Activity Status Codelist should be changed to reflect what is actually meant by these terms. These changes were implemented on 6/12/2018.

![image](https://user-images.githubusercontent.com/38503709/50

[2019-01-11 11:55] manibibek commented on #218
Hi Jahnvi,

Thank you for pointing that out. We have updated the Activity Status Codelist.

Thank you

[2019-01-11 11:55] #218 closed, assigned to nobody

[2019-01-11 13:10] jahnvidave commented on #218
That's great, thank you Mani Bibek!

[2019-01-14 05:33] rupakhetianjana opened #219 "Edit Reporting Organization related Issue"
- [x] The name of reporting organization should be changed with the edit of Organization name in the setting page.

[2019-01-14 14:38] jahnvidave opened #220 "2.03 - Unable to save changes to 'Settings'"
Hello,

On the 2.03 upgrade, it is not possible to save changes made to details under 'Settings'. An error occurs when clicking 'Save organisation information':

![image](https://user-images.githubusercontent.com/38503709/51119001-9f6cf100-1809-11e9-954a-3ff2346a9d3a.png)

Please can you have a look into this?

Thanks,
Jahnvi

[2019-01-15 05:35] manibibek commented on #220
Hi Jahnvi,

The issue has been fixed.

Thank You

[2019-01-15 05:35] #220 closed, assigned to nobody

[2019-01-15 09:37] jahnvidave commented on #220
Thank you @manibibek

[2019-01-15 11:05] manibibek commented on #217
Hi Amy,

There was some issue with the data while upgrading which I have fixed now. Now they can update their data.

Thank You

[2019-01-15 11:05] #217 closed, assigned to nobody

[2019-01-16 05:18] manibibek commented on #215
This issue has been fixed in https://github.com/younginnovations/aidstream/commit/84a9fc35aa06b0f1fa32befde2b2a6d15874bd46

[2019-01-16 05:19] #215 closed, assigned to Beecallpaw

[2019-01-16 07:56] manibibek commented on #209
We are working on this issue here: https://github.com/younginnovations/aidstream/issues/212

[2019-01-16 07:56] #209 closed, assigned to manibibek

[2019-01-16 08:34] manibibek commented on #219
This issue has been fixed

[2019-01-16 08:34] #219 closed, assigned to Beecallpaw

[2019-01-16 10:31] #207 closed, assigned to nirazanbasnet

[2019-01-16 11:52] rupakhetianjana opened #223 "Upgrade AidStream from lite to core is missing in Version 2.03"
- [x] `Upgrade AidStream` from lite to core is missing in Version 2.03 setting page.

[2019-01-17 04:32] manibibek commented on #223
This issue has been fixed

[2019-01-17 04:32] #223 closed, assigned to nobody

[2019-01-17 05:45] manibibek commented on #212
This feature has been added.

[2019-01-17 05:45] #212 closed, assigned to manibibek

[2019-01-18 07:57] 77karuna commented on #193
Hello Jahnvi,

The Publisher ID of [IFDC](https://iatiregistry.org/publisher/ifdc-us) has been changed successfully in their AidStream account.

![ifdc_publisherid_changed](https://user-images.githubusercontent.com/43775456/51372883-c0458700-1b26-11e9-9494-0c5a6cc50ab0.png)

Please confirm this from your end as well.

Thank you
Karuna

[2019-01-21 08:22] manibibek commented on #178
This issue has been fixed

[2019-01-21 08:22] #178 closed, assigned to Beecallpaw

[2019-01-21 09:30] manibibek commented on #182
The issue has been fixed

[2019-01-21 15:01] jahnvidave commented on #193
Hi Karuna,

Thank you for your reply. Yes, having checked their account, I can see that their Publisher ID has updated successfully.

Many thanks,
Jahnvi

[2019-01-21 15:10] #193 closed, assigned to nobody

[2019-01-29 16:19] jahnvidave opened #226 "INPUD transactions error"
Hello AidStream,

International Network of People who Use Drugs (INPUD) are not able to publish their activity data as they receive error messages relating to their transaction data.

They receive the message that 'The required Transaction-date is missing from the 'Transaction-date' element of Transaction element.' And that 'The required Value is missing from the 'Value' element of Transaction ele

[2019-01-30 07:35] 77karuna commented on #226
Hi Jahnvi,

After having gone through the issue, we came to the conclusion that, although date related data are complete, the **date format** is incorrect.

The required format is **yyyy-mm-dd**. However, their date is in _yyyy/mm/dd_ format.
![aidstream-inpud-date-format-issue](https://user-images.githubusercontent.com/43775456/51965358-65e6e780-2491-11e9-9d60-01234b3b0e57.png)

This issue will b

[2019-01-30 10:41] jahnvidave opened #227 "Mandatory results fields"
Hi AidStream,

There are a couple of fields in the Results element that have been set as mandatory fields on AidStream, which are not always required by the IATI Standard.

This is preventing some publishers from updating their data, as they are not able to save their data without filling in these fields.

The fields are:

Indicator Reference
![image](https://user-images.githubusercontent.com/3850

[2019-01-30 10:51] jahnvidave commented on #226
Thank you Karuna! I have passed that on to INPUD, so hopefully the errors will be resolved soon.

Many thanks,
Jahnvi

[2019-01-30 12:48] jahnvidave opened #229 "2.03 - Unable to import Transaction CSV"
Hello AidStream,

On the version 2.03 upgrade, the CSV import function is not working for Transactions.

When trying to upload the transactions CSV file, the message appears: 'CSV File Processing', but nothing further happens.
![image](https://user-images.githubusercontent.com/38503709/51982011-bd368900-248c-11e9-99e8-fe059e6512dd.png)

The CSV file itself is correct, and can be uploaded successfu

[2019-01-30 15:44] jahnvidave opened #230 "2.03 - Unable to delete planned disbursements"
Hello,

On the 2.03 upgrade, it is not possible to delete planned disbursements that have been entered.

I can click the delete button to 'remove the block'. However, when I try to 'Save' these changes, I get the following message:
![image](https://user-images.githubusercontent.com/38503709/51992359-c16ea080-24a4-11e9-943b-fc72e62b72dc.png)

If I click 'Cancel', it retains the planned disbursement

[2019-02-04 10:42] jahnvidave opened #231 "Publishers missing from Participating Organisation list"
Hi AidStream,

There are several publishers that are not appearing on the 'Participating Organisation' drop-down list.

This is resulting in users adding them in manually using the 'Use Organisation Finder' form, which often leads to errors in the information entered, and means the organisations are not correctly linked.

Please can you have a look at updating the list on AidStream, so that all pu

[2019-02-05 04:17] 77karuna commented on #227
Hello Jahnvi,

Thank you for pointing out those issues to us. Those listed out have been managed in AidStream.

We have slight confusion regarding, **Baseline > year** attribute in following scenario:
If user enters any baseline attribute such as _value_,  we allow user to save as it is? Do we need to make user mandatory to fill up _year_ attribute or not?
It will be of great help if this confusio

[2019-02-05 10:03] jahnvidave commented on #227
Hi Karuna,

Thank you for working on these issues.

Regarding the **Baseline > year** attribute:
If a user enters _any_ baseline attribute (such as value), the **year** attribute is then mandatory and users must fill it in.

Do let me know if any other clarifications are needed.

Best wishes,
Jahnvi

[2019-02-05 10:22] jahnvidave opened #232 "Registration Agency: ES-MDJ"
Hi AidStream,

Please can the Registration Agency ES-MDJ be added to Aidstream?

This is for the Ministry of Justice, Spain - http://org-id.guide/list/ES-MDJ

Thank you,
Jahnvi

[2019-02-06 05:30] 77karuna commented on #227
Hello Jahnvi,

If a user enters _any_ baseline attribute (such as value), the **year** attribute is then mandatory and users must fill it in.

Thank you for clearing this confusion. We will be working on this issue with top priority.

Kind Regards,
Karuna

[2019-02-06 08:49] manibibek commented on #177
Hi Jahnvi,

The Registration Agencies LK-DRC and LK-NGO has been added to Aidstream.

Thank you

[2019-02-06 08:49] #177 closed, assigned to nobody

[2019-02-06 08:50] manibibek commented on #232
Hi Jahnvi,

The registration Agency ES-MDJ has been added to Aidstream.

Thank you

[2019-02-06 08:50] #232 closed, assigned to nobody

[2019-02-06 08:50] manibibek commented on #229
Hi Jahnvi,

The issue has been fixed.

Thank you

[2019-02-06 08:50] #229 closed, assigned to nobody

[2019-02-06 12:21] jahnvidave commented on #177
Thank you!

[2019-02-06 12:21] jahnvidave commented on #232
Thank you!

[2019-02-06 12:28] jahnvidave commented on #229
Thank you Mani Bibek

[2019-02-11 05:44] rupakhetianjana commented on #230
Hello Janvi,

The top section of every element cannot be deleted in any versions. It can only be reset and new information can be entered. To delete the entire element block, Activity detail view page is there as shown below.

![52547263-9eba8100-2dee-11e9-93f4-2bcca2b780e2 png 1366x768](https://user-images.githubusercontent.com/42827731/52547304-e4774980-2dee-11e9-9781-1f9402d73bc1.png)

 The sav

[2019-02-11 09:17] rupakhetianjana commented on #213
Solved.

[2019-02-11 09:17] #213 closed, assigned to anjesh, manibibek

[2019-02-11 12:18] jahnvidave commented on #230
Hi @Rupakheti,

Thank you for your explanation and for pointing out how to delete an entire element block from the activity's overview page. That is really helpful.

Many thanks, Jahnvi

[2019-02-11 12:19] #230 closed, assigned to nobody

[2019-02-21 08:29] rupakhetianjana commented on #227
Hello Jahnvi,

We have made the changes in `Result` element as per the IATI standards.
Now *Indicator Reference* and *Baseline attributes* are made optional. But with the requirement of IATI standards such as **@value of `Baseline`, `Target`, & `Actual` must be included for non-qualitative measures**,  fields will get changed.

Thank you!

[2019-02-21 08:40] rupakhetianjana commented on #196
Hello Sabina,

It is impossible to restore the deleted file. But if you have published that file in IATI, you can download the XML file from there and can upload in AidStream. After that, you can overwrite manually for the necessary changes.

Regards,
Anjana

[2019-02-21 08:40] #196 closed, assigned to nobody

[2019-02-21 10:22] jahnvidave commented on #227
Thank you so much for fixing this Anjana! This is looking perfect.

Many thanks, Jahnvi

[2019-02-21 10:22] #227 closed, assigned to nobody

[2019-02-21 12:36] jahnvidave opened #234 "Open University unable to add Participating Organisations"
Hi AidStream,

The Open University are trying to manually add participating organisations to their activities using the 'Use Organisation Finder' function on AidStream.

They fill out the information on the 'Organisation Finder' form, for the partner organisation and click 'Use this organisation'. However, the organisation does not appear on their list of partners and cannot be added to their acti

[2019-02-21 14:33] jahnvidave commented on #226
Hi Karuna,

INPUD have raised a valid point, that it is not possible to enter dates in the wrong format, as AidStream automatically formats dates when selected.

Please can you investigate this further, as it is not clear why this error message is appearing and how to resolve it.

Many thanks,
Jahnvi

[2019-02-27 10:05] rupakhetianjana commented on #226
Hello Jahnvi,

To resolve this issue, the user has to edit all the transactions one by one, re-select the date, and save the data.

Thank you.
Anjana

[2019-02-27 11:19] amy-silcock opened #235 "Small bug with other identifier codelist"
When using the other-identifier element. The wrong name for the code B1 is pulling through to the activity overview screen:

![image](https://user-images.githubusercontent.com/27764077/53486678-4be4f880-3a81-11e9-9062-a39221579383.png)

B1 is: Previous reporting organisation identifier
And not: Reporting Organisation's Internal Activity Identifier

[2019-02-27 12:11] jahnvidave commented on #226
Hi Anjana,

Thank you for this suggestion - I have passed this on to INPUD, although I think they did already try this, without success.

Please could you give some further explanation as to why/how this error has occurred?
On the transaction page on AidStream, the dates all appear to be in the correct format, so it is not clear why they are incorrect in the xml?

e.g. this value-date appears in t

[2019-02-27 15:00] jahnvidave commented on #189
Closing this issue, as this was resolved by Mastercard Foundation manually editing the identifiers in their XML files before publishing.

[2019-02-27 15:00] #189 closed, assigned to nobody

[2019-03-11 15:59] JoshStanleyDevInit opened #236 "Registration Agency: AR-CENOC"
Hi AidStream team,

Please can the following Registration Agency be added to Aidstream. This agency was added by Org ID some time ago but I cannot see that it has been requested to be added to AidStream as well.

Please see Discuss forum post: https://discuss.iatistandard.org/t/added-proposed-addition-to-the-organisation-registration-agency-codelist-argentina/944

And Org ID page: http://org-id.gu

[2019-03-12 10:01] JoshStanleyDevInit opened #237 "Participating Org Validation Error"
Hi AidStream Team,

We have been alerted by a publisher to a potential bug on the Participating Organization screen.

They are getting the following error message when attempting to add a participating org:

<img width="636" alt="2" src="https://user-images.githubusercontent.com/46994072/54191356-aa609c80-44ad-11e9-9103-537900ac6f0c.PNG">

The publisher has selected a default language and there is

[2019-03-13 04:18] rupakhetianjana commented on #237
Hello Josh,

Thank you for informing.

We looked into this issue and didn't get it in our side. While we will be eying to this in the future and will surely fix if we come across a similar issue.

Regards,
Anjana

[2019-03-13 10:26] JoshStanleyDevInit commented on #237
Hi Anjana,

I have been able to replicate the issue, but only when masquerading on the publisher's own account.

What would you suggest they do to ensure that they can publish their participating Orgs?

Thanks,
Josh

[2019-03-14 07:44] rupakhetianjana commented on #237
Hello Josh,

In order to publish the participating organization, they need to publish their activity. Publishing only participating organization is not possible.

Thank you.
Regards,
AidStream Support

[2019-03-14 10:28] JoshStanleyDevInit commented on #237
Hi Anjana,

Apologies if my last comment was not clear.

I meant how would you suggest that they can add their Participating Orgs to the Activities that they are building?

Thanks,
Josh

[2019-03-14 10:54] rupakhetianjana commented on #237
Hello Josh,

In order to add the participating organization, here is a link provided herewith for your help.
https://github.com/younginnovations/aidstream/wiki/How-to-manage-your-participating-organisation%3F

Following the instruction as per the linked document, one can add their participating Organization to the Activities that they are building.

Regards,
Anjana

[2019-03-14 16:46] jjbuckle commented on #61
Our flow type, finance type etc are not always consistent and so the "Default" functionality means that when we import activities with transactions we will need to manually override the values after import. Is there any way to extend the CSV import to allow additional IATI elements to be imported that aren't in the template?

[2019-03-15 16:32] JoshStanleyDevInit commented on #237
Hi Anjana,

They are adding the Participating Org as per the guidance, but are still seeing the error outlined in my original comment. Can you advise why they are seeing this error?

Many thanks,
Josh

[2019-03-18 07:48] rupakhetianjana commented on #231
Hello Jahnvi,

The publishers from the IATI has been updated in AidStream.

Thank you.

Regards,
Anjana

[2019-03-18 07:48] #231 closed, assigned to nobody

[2019-03-19 16:39] amy-silcock opened #238 "A couple of bugs - publishing settings and publishing activities"
Hi,

The publisher cowi recently wasn't able to publish their activity. This was because of an incorrect API key.

However,

- AidStream wasn't displaying a message that the API key was incorrect. You could enter anything and it said it was valid
- I have now corrected their API key and their activity is published.
- Though on AidStream there is an error mark saying it hasn't published correctly.

[2019-03-20 16:30] JoshStanleyDevInit commented on #236
Hi team,

It has also come to my attention that the following Identifier is also unavailable on AidStream. Perhaps this can be added at the same time as the above?

Org ID page: http://org-id.guide/list/JE-FSC

Code: JE-FSC
Name: Jersey Financial Services Commission
Country: Jersey
Description: Companies and Non Profit Organisations operating in Jersey register with the Financial Services Commissi

[2019-03-29 05:24] rupakhetianjana commented on #236
Hi Josh,

Code: JE-FSC & Code: AR-CENOC both have been added to AidStream.

Thank you.

Regards,
Anjana